[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=./utils/symlink_public.sh && quickemu --vm AtlasOS.conf --display spice
Path=/home/evangelospro/VMs
Name=AtlasOS Windows
Icon=qemu
