[Desktop Entry]
Name=Burp
Comment=Burp
Exec=burp
Icon=burp
Terminal=false
Type=Application
Categories=Development;Security;Network;WebDevelopment;
StartupWMClass=burp
