[Desktop Entry]
Name=Discord
Comment=Discord desktop
GenericName=Internet Messenger
Type=Application
Exec=/usr/bin/discord --ignore-gpu-blocklist --enable-features=UseOzonePlatform,VaapiVideoDecoder --ozone-platform=wayland --use-gl=desktop --enable-gpu-rasterization --enable-zero-copy
Icon=discord
Categories=Network;InstantMessaging;
StartupWMClass=descord
Keywords=discord;vencord;
