[Desktop Entry]
Name=balenaEtcher (1.18.8)
Exec=/home/BallowTK/Applications/balenaEtcher-1.18.8-x64.AppImage --no-sandbox %U
Terminal=false
Type=Application
Icon=appimagekit_e6091a9af975ec13d56355018a4e84fe_balena-etcher
StartupWMClass=balenaEtcher
X-AppImage-Version=1.18.8
Comment=Flash OS images to SD cards and USB drives, safely and easily.
MimeType=x-scheme-handler/etcher;
Categories=Utility;

TryExec=/home/BallowTK/Applications/balenaEtcher-1.18.8-x64.AppImage
X-AppImage-Old-Icon=balena-etcher
X-AppImage-Old-Name=balenaEtcher
X-AppImage-Identifier=e6091a9af975ec13d56355018a4e84fe
Actions=Remove;
X-AppImageLauncher-Version=2.2.0 (git commit 0f91801), built on 2023-05-05 09:09:08 UTC

[Desktop Action Remove]
Name=Remove AppImage from system
Icon=AppImageLauncher
Exec=/usr/lib/appimagelauncher/remove "/home/BallowTK/Applications/balenaEtcher-1.18.8-x64.AppImage"
Name[ast]=Desaniciar AppImage del sistema
Name[cs]=Odebrat AppImage ze systému
Name[de]=AppImage vom System entfernen
Name[en]=Remove AppImage from system
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer l'AppImage du système
Name[it]=Rimuovi AppImage dal sistema
Name[nl]=AppImage deïnstalleren
Name[pl]=Usuń AppImage z systemu
Name[pt]=Remover AppImage do sistema
Name[pt_PT]=Remover AppImage do sistema
Name[ru]=Удалить AppImage из системы
Name[zh_Hans]=从系统中移除 AppImage
