[Desktop Entry]
Version=1.0
Type=Application
Name=Zoom - PWA
Comment=Zoom video conference.
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=gbmplfifepjenigdepeahbecfkcalfhg --app=https://pwa.zoom.us/wc
Icon=Zoom
Terminal=false
StartupNotify=true
StartupWMClass=Zoom - PWA
Categories=Network,VideoConference
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus;x-scheme-handler/tel;x-scheme-handler/callto;x-scheme-handler/zoomphonecall;application/x-zoom
X-KDE-Protocols=zoommtg;zoomus;tel;callto;zoomphonecall;
