[Desktop Entry]
Name=Hexrays IDA Pro
StartupWMClass=ida-pro
Comment=Hexrays IDA Pro
GenericName=Hexrays IDA Pro
Exec={{ .chezmoi.homeDir }}/.local/bin/ida start
Icon={{ .chezmoi.homeDir }}/.local/share/icons/ida.svg
Terminal=false
Type=Application
Categories=Development
