[Desktop Entry]
Name=Hexrays IDA Pro 7.7sp1
StartupWMClass=ida-pro
Comment=Hexrays IDA Pro 7.7sp1
GenericName=Hexrays IDA Pro 7.7sp1
Exec={{ .chezmoi.homeDir }}/.local/bin/ida start
Icon={{ .chezmoi.homeDir }}/.local/share/applications/icons/ida-pro.png
Terminal=false
Type=Application
Categories=Development
