@define-color background rgba(40, 41, 54, 0.8);
@define-color foreground rgba(248, 248, 242, 1);
@define-color transparent rgba(00, 00, 00, 0);
@define-color shadow rgba(61, 76, 95, 1);
@define-color grey rgba(77, 79, 104, 1);

@define-color cyan rgba(98, 214, 232, 1);
@define-color green rgba(0, 247, 105, 1);
@define-color orange rgba(255, 184, 108, 1);
@define-color black rgba(61, 76, 95, 1);
@define-color pink rgba(234, 81, 178, 1);
@define-color purple rgba(180, 91, 207, 1);
@define-color red rgba(255, 85, 85, 1);
@define-color yellow rgba(235, 255, 135, 1);
@define-color white rgba(233, 233, 244, 1);

@define-color accent rgba(180, 91, 207, 1);
