[Unit]
Description=Avizo service daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.danb.avizo.service
ExecStart=/usr/bin/avizo-service
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure

[Install]
WantedBy=graphical-session.target
