[Unit]
Description=Clipboard manager
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=forking
ExecStart=/usr/bin/clipse -listen
ExecStop=/usr/bin/clipse -kill
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
