[Unit]
Description=Start flameshot screenshot tool in the background
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/flameshot
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
