[Unit]
Description=Set wallpaper using hyprpaper
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/hyprpaper
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
