[Unit]
Description=Hyprpanel a panel for Hyprland
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/agsv1 -c %h/.config/hyprpanel/config.js
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure

[Install]
WantedBy=graphical-session.target
