[Unit]
Description=Hyprland user session
BindsTo=graphical-session.target
After=graphical-session-pre.target
Wants=graphical-session-pre.target
Upholds=hyprpaper.service avizo.service battery-notifier.service walker.service swaync.service flameshot.servie hypridle.service waybar.service waybar-icons.service blueman-applet.service nm-applet.service udiskie.service {{ if .isPersonal }}seadrive.service{{- end }}
