[Unit]
Description=Hyprland user session
Documentation=man:systemd.special
Requires=basic.target
BindsTo=graphical-session.target
After=graphical-session-pre.target
Wants=graphical-session-pre.target
