[Unit]
Description=Idle manager for Wayland
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/hypridle
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure

[Install]
WantedBy=graphical-session.target
