[Unit]
Description=Network Manager Applet
After=graphical-session.target waybar.service
PartOf=graphical-session.target
Wants=waybar.service

[Service]
Type=simple
ExecStart=/usr/bin/nm-applet --indicator
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure

[Install]
WantedBy=graphical-session.target
