[Unit]
Description=Legacy polkit authentication agent for GNOME
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure


[Install]
WantedBy=graphical-session.target
