[Unit]
Description=Seadrive Gui Client
After=network.target graphical-session.target hyperpanel.service

[Service]
Type=simple
ExecStart=/usr/bin/seadrive-gui
Restart=on-failure

[Install]
WantedBy=graphical-session.target
