[Unit]
Description=Seadrive Gui Client
After=network.target waybar.service
Wants=waybar.service

[Service]
ExecStart=/usr/bin/seadrive-gui
Restart=on-failure

[Install]
WantedBy=graphical-session.target
