[Unit]
Description=Lightweight Wayland notification daemon
Documentation=man:swaync(1)
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/bin/swaync
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure


[Install]
WantedBy=graphical-session.target
