[Unit]
Description=SwayOSD Server Daemon
After=swayosd-libinput-backend.service

[Service]
Type=simple
ExecStart=/usr/bin/swayosd-server
Restart=on-failure


[Install]
WantedBy=graphical-session.target
