[Unit]
Description=A lightweight Wayland statusbar
Documentation=man:waybar(1)
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar
ExecReload=/bin/kill -SIGUSR2 $MAINPID
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure

[Install]
WantedBy=graphical-session.target
