[general]
font-sans = "FiraCode Nerd Font"
font-mono = "FiraCode Nerd Font Mono"

[[bar.layout]]
monitor = "*"
show = true
left = [
    "hyprland-workspaces",
    "cava",
]
center = [
    "clock",
    "window-title",
]
right = [
    "battery",
    "keyboard-input",
    "network",
    "bluetooth",
    "idle-inhibit",
    "microphone",
    "notifications",
    "dashboard",
]

[styling.palette]
bg = "#282a36"
surface = "#343746"
elevated = "#44475a"
fg = "#f8f8f2"
fg-muted = "#6272a4"
primary = "#bd93f9"
red = "#ff5555"
yellow = "#f1fa8c"
green = "#50fa7b"
blue = "#8be9fd"

[modules.clock]
format = "%a %b %d %H:%M:%S"
dropdown-show-seconds = true

[modules.hyprland-workspaces]
app-icons-show = true
show-special = false

[wallpaper]
engine-enabled = false

[modules.idle-inhibit]
left-click = """
caffeine_status=$(wayle idle status)
if [[ $caffeine_status == Active* ]]; then
    wayle idle off
    systemctl --user stop caffeine
else
    wayle idle on --indefinite
    systemctl --user start caffeine
fi"""
right-click = ""

[modules.dashboard]
dropdown-lock-command = "{{.utilities.lockscreen.linux.command}}"
dropdown-logout-command = "{{.utilities.logout.linux.command}}"
