file:///home/evangelospro/Documents
file:///home/evangelospro/Downloads
file:///home/evangelospro/Music
file:///home/evangelospro/Pictures
file:///home/evangelospro/Videos
{{- if (eq .chezmoi.hostname "ELARCH-F15") }}
file:///home/evangelospro/School
file:///home/evangelospro/HACKING
file:///home/evangelospro/HACKING/Tools
file:///home/evangelospro/HACKING/CTFs
file:///home/evangelospro/HACKING/CTFs/2024
file:///home/evangelospro/Courses
{{- end }}
