file://{{ .chezmoi.homeDir }}/Documents
file://{{ .chezmoi.homeDir }}/Downloads
file://{{ .chezmoi.homeDir }}/Music
file://{{ .chezmoi.homeDir }}/Pictures
file://{{ .chezmoi.homeDir }}/Videos
{{- if .isPersonal }}
file://{{ .chezmoi.homeDir }}/School
file://{{ .chezmoi.homeDir }}/HACKING
file://{{ .chezmoi.homeDir }}/HACKING/Tools
file://{{ .chezmoi.homeDir }}/HACKING/CTFs
file://{{ .chezmoi.homeDir }}/HACKING/CTFs/{{ now | date "2006" }}
file://{{ .chezmoi.homeDir }}/Courses
{{- end }}
