{
    "bar.customModules.updates.pollingInterval": 1440000,
    "terminal": "{{.applications.terminal.linux.command}}",
    "theme.bar.floating": false,
    "theme.bar.buttons.enableBorders": true,
    "theme.bar.buttons.workspaces.enableBorder": false,
    "bar.workspaces.show_numbered": true,
    "bar.workspaces.numbered_active_indicator": "highlight",
    "bar.windowtitle.icon": false,
    "bar.windowtitle.class_name": true,
    "bar.notifications.show_total": true,
    "theme.osd.orientation": "horizontal",
    "theme.osd.location": "bottom",
    "menus.clock.time.military": true,
    "menus.clock.weather.location": "Nicosia",
    "menus.clock.weather.unit": "metric",
    "menus.dashboard.powermenu.avatar.image": "{{.chezmoi.homeDir}}/.local/share/icons/profile.jpg",
    "menus.dashboard.stats.enable_gpu": true,
    "menus.dashboard.powermenu.confirmation": false,
    "bar.layouts": {
        "0": {
            "left": [
                "workspaces",
                "media"
            ],
            "middle": [
                "windowtitle"
            ],
            "right": [
                "volume",
                "bluetooth",
                "battery",
                "systray",
                "clock",
                "notifications",
                "power"
            ]
        },
        "1": {
            "left": [
                "workspaces",
                "media"
            ],
            "middle": [
                "windowtitle"
            ],
            "right": [
                "volume",
                "clock",
                "notifications",
                "power"
            ]
        },
        "2": {
            "left": [
                "workspaces",
                "media"
            ],
            "middle": [
                "windowtitle"
            ],
            "right": [
                "volume",
                "clock",
                "notifications",
                "power"
            ]
        }
    },
    "theme.bar.opacity": 100,
    "theme.bar.transparent": true,
    "bar.windowtitle.custom_title": true,
    "bar.windowtitle.title_map": [
        [
            "code-insiders-url-handler",
            "visual-studio-code",
            "Visual Studio Code Insiders"
        ],
        [
            "Code - Insiders",
            "visual-studio-code",
            "Visual Studio Code Insiders"
        ],
        [
            "xdg-desktop-portal-gtk",
            "nemo",
            "XDG Desktop Portal GTK"
        ],
        [
            "thorium*",
            "thorium-browser",
            "Thorium"
        ],
        [
            "burp-*",
            "burp",
            "BurpSuite"
        ],
        [
            "yad-icon-browser",
            "yad",
            "Icon Browser"
        ],
        [
            "org.kde.kdeconnect-settings",
            "kdeconnect",
            "KDEConnect Settings"
        ],
        [
            "Microsoft Teams - Preview",
            "teams",
            "Microsoft Teams"
        ],
        [
            "imv",
            "image-viewer",
            "Image Viewer"
        ],
        [
            "ONLYOFFICE Desktop Editors",
            "onlyoffice-desktopeditors",
            "onlyoffice"
        ],
        [
            "Gimp-2.10",
            "gimp",
            "Gimp"
        ],
        [
            "org.gnome.Nautilus",
            "nautilus",
            "Files"
        ],
        [
            "org.wezfurlong.wezterm",
            "org.wezfurlong.wezterm",
            "WezTerm"
        ],
        [
            "xournalpp",
            "xournalpp",
            "Xournal++"
        ],
        [
            "org.kde.polkit-kde-authentication-agent-1",
            "password-manager",
            "Polkit-KDE"
        ],
        [
            "blueman-manager",
            "blueman",
            "Bluetooth Manager"
        ],
        [
            "ghidra-Ghidra",
            "ghidra",
            "Ghidra"
        ],
        [
            "com.usebottles.bottles",
            "com.usebottles.bottles",
            "Bottles"
        ],
        [
            "eww",
            "~/.local/share/icons/EwwLogo.svg",
            "eww"
        ],
        [
            "czkawka_gui",
            "com.github.qarmin.czkawka",
            "Czkawka"
        ],
        [
            "vesktop",
            "discord",
            "Discord"
        ],
        [
            "jetbrains-studio",
            "android-studio",
            "Android Studio"
        ],
        [
            "usbguard-applet-qt",
            "usbguard-icon",
            "USB Guard"
        ],
        [
            "xyz.chatboxapp.app",
            "google-chat",
            "ChatBox AI"
        ],
        [
            "Emulator",
            "android-sdk",
            "Android Emulator"
        ],
        [
            "scrcpy",
            "android-sdk",
            "Scrcpy"
        ],
        [
            "dev.warp.Warp",
            "~/.local/share/icons/dev.warp.Warp.svg",
            "Warp"
        ],
        [
            "zoom",
            "Zoom",
            "Zoom Meeting"
        ],
        [
            "rdesktop",
            "~/.local/share/icons/rdesktop.svg",
            "Remote Desktop"
        ],
        [
            "ROG Control",
            "rog-control-center",
            "ROG Control Center"
        ],
        [
            "Spotify*",
            "spotify",
            "Spotify"
        ],
        [
            "*seadrive*",
            "~/.local/share/icons/seadrive.svg",
            "SeaDrive"
        ],
        [
            "spotube",
            "~/.local/share/icons/spotube-logo.svg",
            "Spotube"
        ],
        [
            "valent",
            "ca.andyholmes.Valent",
            "Valent"
        ],
        [
            "IDA",
            "~/.local/share/icons/ida.svg",
            "IDA Pro"
        ],
        [
            "Matplotlib",
            "python",
            "Matplotlib"
        ],
        [
            "spicy",
            "qemu",
            "Spice"
        ],
        [
            "WLR Layout",
            "video-display",
            "WLR Layout Ui"
        ]
    ],
    "menus.power.confirmation": false,
    "bar.clock.format": "%a %b %d %T",
    "bar.media.show_artist": false,
    "bar.media.show_active_only": true,
    "bar.bluetooth.label": true,
    "bar.workspaces.show_icons": false,
    "bar.workspaces.workspaceMask": true
}
