.git*
PKGBUILDS

**/*.src.ini

{{- if ne .chezmoi.os "windows" }}
**/*.lnk
**/*.bat
**/*.ps1
Documents
AppData
.glaze-wm

{{- else if and ( ne .chezmoi.os "linux" ) ( ne .chezmoi.os "darwin" )}}
**/*.sh
.local/share/*
.bash_history
.bashrc
symlink*
symlink*
{{ end }}

# I anyways populate manually so don't litter $HOME
Dockerfile
confs/
pyproject.toml
README.md
install.sh
*requirements.txt
docs
.chezmoiscripts/*/**
#!.chezmoiscripts/universal/**

# powertoys logs and versions
**/*Logs*
**/*_version.txt

# notes
*.notes

# Monitor arrangement
.config/hypr/monitors.conf

# VSCODE workspace
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace

# Exclude for security reasons
.history/
.dccache
.env

# Zsh compiled script + zrecompile backup
*.zwc
*.zwc.old

# Zsh completion-optimization dumpfile
*zcompdump*

# Zsh zcalc history
.zcalc_history

# A popular plugin manager's files
._zi
._zinit
._zplugin
.zi_lastupd
.zinit_lastupd
.zplugin_lstupd

# z-shell/zshelldoc tool's files
zsdoc/data
docs/zsdoc/data

# Python
**/__pycache__/
**/*.pyc
**/.venv/

# Nodejs
**/node_modules/
**/package-lock.json
**/package.json

.keep
**/*.log

# ohmyzsh/ohmyzsh/plugins/per-directory-history plugin's files
# (when set-up to store the history in the local directory)
.directory_history

.config/zsh/antigen/
.config/zsh/cache/
.config/zsh/.zinit/**
.config/zsh/zoxide/**
.config/zsh/zsh_history.zsh
.config/zsh/ecsc/
.config/zsh/.zfunc/ataka.py

# Temporary stuff probably not needed
**/tmp/**
**/temp/**

# Mypy
**/.mypy_cache


# Personal
{{- if .personal }}
Courses
HACKING
Notes
.ssh/config
.ssh/keys/eraspberry1
.ssh/keys/portainer
.ssh/keys/eserver-local
.ssh/keys/ftc
.ssh/keys/ecsc
.ssh/keys/c2
{{- else }}
# Only create ssh keys if they don't exist
{{- if  stat (joinPath .chezmoi.homeDir ".ssh/config") }}
.ssh/config
{{- end }}
{{- if  stat (joinPath .chezmoi.homeDir ".ssh/keys/eraspberry1") }}
.ssh/keys/eraspberry1
{{- end }}
{{- if  stat (joinPath .chezmoi.homeDir ".ssh/keys/portainer") }}
.ssh/keys/portainer
{{- end }}
{{- if  stat (joinPath .chezmoi.homeDir ".ssh/keys/eserver-local") }}
.ssh/keys/eserver-local
{{- end }}
{{- if  stat (joinPath .chezmoi.homeDir ".ssh/keys/ftc") }}
.ssh/keys/ftc
{{- end }}
{{- if  stat (joinPath .chezmoi.homeDir ".ssh/keys/elarch-builder") }}
.ssh/keys/elarch-builder
{{- end }}
{{- if  stat (joinPath .chezmoi.homeDir ".ssh/keys/ecsc") }}
.ssh/keys/ecsc
{{- end }}
{{- if  stat (joinPath .chezmoi.homeDir ".ssh/keys/c2") }}
.ssh/keys/c2
{{- end }}
{{- end }}
