{
{{- $isHeadless := false }}
{{- $isPersonal := true }}
{{- $isLaptop := true }}
{{- $isHacking := true }}
{{- $isAsus := true }}
{{- $isNvidia := true }}
{{- $isIntel := true }}
{{- $isAmd := false }}

{{- $isWindows := eq .chezmoi.os "windows" }}
{{- $isMac := eq .chezmoi.os "darwin" }}
{{- $isLinux := eq .chezmoi.os "linux" }}

{{- $osID := "" }}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) }}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id }}
{{- end }}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "ubuntu" "vagrant" "vscode") }}
{{-   $isHeadless = true }}
{{- end }}

{{- $MOD_HYPRLAND := "$MOD" }}
{{- $SHIFT_MOD_HYPRLAND := "$SHIFT_MOD" }}
{{- $SEP_HYPRLAND := "," }}

{{- $MOD_GLAZE := "LWin" }}
{{- $SHIFT_MOD_GLAZE := "LShiftKey+LWin" }}
{{- $SEP_GLAZE := "+" }}

{{- $MOD := "" }}
{{- $SHIFT_MOD := "" }}
{{- $SEP := "" }}

{{- if $isWindows }}
    {{- $MOD = $MOD_GLAZE }}
    {{- $SHIFT_MOD = $SHIFT_MOD_GLAZE }}
    {{- $SEP = $SEP_GLAZE }}
{{- else if $isLinux }}
    {{- $MOD = $MOD_HYPRLAND }}
    {{- $SHIFT_MOD = $SHIFT_MOD_HYPRLAND }}
    {{- $SEP = $SEP_HYPRLAND }}
{{- end }}

    "data": {
        "isHeadless": {{ $isHeadless }},
        "isPersonal": {{ $isPersonal }},
        "isLaptop": {{ $isLaptop }},
        "isHacking": {{ $isHacking }},
        "isAsus": {{ $isAsus }},
        "isNvidia": {{ $isNvidia }},
        "isIntel": {{ $isIntel }},
        "isAmd": {{ $isAmd }},
        "isWindows": {{ $isWindows }},
        "isMac": {{ $isMac }},
        "isLinux": {{ $isLinux }},
        "osID": "{{ $osID }}",
        "username": "evangelospro",
        "fullname": "Evangelos Lioudakis",
        "email": "elioudakis123@gmail.com",
        "applications": {
            "terminal": {"linux":{"name":"warp-terminal", "command":"warp-terminal", "class":"dev.warp.Warp"}},
            "editor": {"linux":{"name":"code-insiders", "command":"code-insiders", "class":"code-insiders-url-handler"}, "windows":{"name":"code-insiders", "command":"code-insiders", "class":"code-insiders-url-handler"}},
            "browser": {"linux":{"name":"thorium-browser", "command":"thorium-browser", "class":"thorium-browser"}, "windows":{"name":"thorium-browser", "command":"thorium-browser", "class":"thorium-browser"}},
            "filemanager": {"linux":{"name":"nemo", "command":"nemo", "class":"nemo"}, "windows":{"name":"explorer", "command":"explorer.exe", "class":"explorer"}},
            "imageviewer": {"linux":{"name":"imv", "command":"imv", "class":"imv"}, "windows":{"name":"imv", "command":"imv", "class":"imv"}},
            "videoplayer": {"linux":{"name":"vlc", "command":"vlc", "class":"vlc"}, "windows":{"name":"vlc", "command":"vlc", "class":"vlc"}},
            "musicplayer": {"linux":{"name":"spotube", "command":"spotube", "class":"spotube"}, "windows":{"name":"spotube", "command":"spotube", "class":"spotube"}},
            "lockscreen": {"linux":{"name":"swaylock", "command":"swaylock", "class":"swaylock"}, "windows":{}},
            "launcher": {"linux":{"name":"anyrun", "command":"anyrun", "class":"anyrun"}, "windows":{}},
            "clipboard-manager": {"linux":{"name":"clipman", "command":"clipman", "class":"clipman"}, "windows":{}},
        },
        "keybindings": {
            "wm":{
                "movewindows": {
                    "left": {"description": "Move window to the left", "key": "{{$MOD}}{{$SEP}}left", "command": {"linux":"movewindow,l","windows":""}},
                    "right": {"description": "Move window to the right", "key": "{{$MOD}}{{$SEP}}right", "command": {"linux":"movewindow,r","windows":""}},
                    "up": {"description": "Move window upwards", "key": "{{$MOD}}{{$SEP}}up", "command": {"linux":"movewindow,t","windows":""}},
                    "down": {"description": "Move window downwards", "key": "{{$MOD}}{{$SEP}}down", "command": {"linux":"movewindow,b","windows":""}},
                },
                "movefocus": {
                    "left": {"description": "Move focus to the left", "key": "{{$MOD}}{{$SEP}}A", "command": {"linux":"movefocus,l","windows":""}},
                    "right": {"description": "Move focus to the right", "key": "{{$MOD}}{{$SEP}}D", "command": {"linux":"movefocus,r","windows":""}},
                    "up": {"description": "Move focus to the top", "key": "{{$MOD}}{{$SEP}}W", "command": {"linux":"movefocus,u","windows":""}},
                    "down": {"description": "Move focus to the bottom", "key": "{{$MOD}}{{$SEP}}S", "command": {"linux":"movefocus,d","windows":""}},
                },
                "resize":{
                    "left": {"description": "Resize window to the left", "key": "{{$SHIFT_MOD}}{{$SEP}}A", "command": {"linux":"resizeactive, -10 0","windows":""}},
                    "right": {"description": "Resize window to the right", "key": "{{$SHIFT_MOD}}{{$SEP}}D", "command": {"linux":"resizeactive, 10 0","windows":""}},
                    "up": {"description": "Resize window to the top", "key": "$SHIFT_MOD{{$SEP}}W", "command": {"linux":"resizeactive, 0 -10","windows":""}},
                    "down": {"description": "Resize window to the bottom", "key": "{{$SHIFT_MOD}}{{$SEP}}S", "command": {"linux":"resizeactive, 0 10","windows":""}},
                },
                "exit": {"description": "Exit the window manager", "key": "{{$MOD}}{{$SEP}}M", "command": {"linux":"exit","windows":""}},
                "reload": {"description": "Reload the window manager", "key": "$SHIFT_MOD{{$SEP}}R", "command": {"linux":"hyprctl reload","windows":""}},
            },
            "utilities":{
                "lockscreen": {"description": "Lock the screen", "key": "{{$MOD}}{{$SEP}}L", "command": {"linux":"lockscreen","windows":""}},
                "launcher": {"description": "Open the launcher", "key": "{{$MOD}}{{$SEP}}SPACE", "command": {"linux":"launcher","windows":""}},
                "clipboard": {"description": "Open the clipboard manager", "key": "{{$MOD}}{{$SEP}}V", "command": {"linux":"clip-menu","windows":""}},
                "emoji": {"description": "Open the emoji picker", "key": "{{$SHIFT_MOD}}{{$SEP}}E", "command": {"linux":"emoji-menu","windows":""}}
            },
            "screenshot":{
                "screenshot": {"description": "Take an interactive screenshot", "key": "{{$SEP}}Print", "command": {"linux":"flameshot gui --raw | wl-copy","windows":"flameshot gui"}},
                "ocr": {"description": "Perform OCR on a screen selection", "key": "{{$MOD}}{{$SEP}}O", "command": {"linux":"wl-ocr","windows":""}},
            },
            "applications":{
                "browser" : {"description": "Launch browser", "key": "{{$MOD}}{{$SEP}}B", "command": {"linux":"raise --launch {{.applications.browser.linux.command}} --class {{.applications.browser.linux.class}}","windows":""}},
                "browser_new" : {"description": "Launch (new) browser", "key": "{{$SHIFT_MOD}}{{$SEP}}B", "command": {"linux":"thorium-browser","windows":""}},

                "burp" : {"description": "Launch  Burp", "key": "{{$MOD}}{{$SEP}}X", "command": {"linux":"raise --launch burp --class burp-StartBurp","windows":"burpsuite"}},

                "terminal" : {"description": "Launch terminal", "key": "{{$MOD}}{{$SEP}}T", "command": {"linux":"raise --launch {{.applications.terminal.linux.command}} --class {{.applications.terminal.linux.class}}","windows":"wt"}},
                "terminal_new" : {"description": "Launch a new terminal", "key": "{{$SHIFT_MOD}}{{$SEP}}T", "command": {"linux":"{{.applications.terminal.linux.command}} ","windows":"wt"}},

                "filemanager" : {"description": "Launch file manager", "key": "{{$MOD}}{{$SEP}}E", "command": {"linux":"raise --launch {{.applications.filemanager.linux.command}}  --class {{.applications.filemanager.linux.class}} ","windows":"explorer.exe"}},
                "filemanager_new" : {"description": "Launch (new) file manager", "key": "{{$SHIFT_MOD}}{{$SEP}}E", "command": {"linux":"{{.applications.filemanager.linux.command}}","windows":""}},

                "editor" : {"description": "Launch editor", "key": "{{$MOD}}{{$SEP}}C", "command": {"linux":"raise --launch {{.applications.editor.linux.command}}  --class {{.applications.editor.linux.class}} ","windows":"code.exe"}},
                "editor_new" : {"description": "Launch (new) editor", "key": "{{$SHIFT_MOD}}{{$SEP}}C", "command": {"linux":"{{.applications.editor.linux.command}}","windows":""}},

                "notes" : {"description": "Launch (new) editor", "key": "{{$MOD}}{{$SEP}}N", "command": {"linux":"raise --launch obsidian --class obsidian","windows":""}},
            }
        }
    },
    "github": {
        "refreshPeriod": "12h"
    }
}
