{
{{- $isPersonal := promptBoolOnce . "isPersonal" "Is this device for use by Evangelos Lioudakis specifically?" -}}
{{- $isLaptop := promptBoolOnce . "isLaptop" "Is this a laptop?" -}}
{{- $isHeadless := false -}}
{{- if not $isLaptop }}
    {{- $isHeadless = promptBoolOnce . "isHeadless" "Is this a headless server?" -}}
{{- end -}}
{{- $isHacking := promptBoolOnce . "isHacking" "Is this computer going to be used for Hacking and CTFs?" -}}
{{- $isAsus := promptBoolOnce . "isAsus" "Is this an Asus computer" -}}
{{- $isNvidiaGPU := promptBoolOnce . "isNvidiaGPU" "Does this computer have an Nvidia GPU" -}}
{{- $isIntelGPU := promptBoolOnce . "isIntelGPU" "Does this computer have an Intel GPU" -}}
{{- $isAmdGPU := promptBoolOnce . "isAmdGPU" "Does this computer have an AMD GPU" -}}

{{- $isWindows := eq .chezmoi.os "windows" }}
{{- $isMac := eq .chezmoi.os "darwin" }}
{{- $isLinux := eq .chezmoi.os "linux" }}

{{- $osID := "" }}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) }}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id }}
{{- end }}

{{- $MOD := "$MOD" }}
{{- $SHIFT_MOD := "$SHIFT_MOD" }}
{{- $SEP := "," }}

{{- $fullname := promptStringOnce . "fullname" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

    "data": {
        "isHeadless": {{ $isHeadless }},
        "isPersonal": {{ $isPersonal }},
        "isLaptop": {{ $isLaptop }},
        "isHacking": {{ $isHacking }},
        "isAsus": {{ $isAsus }},
        "isNvidiaGPU": {{ $isNvidiaGPU }},
        "isIntelGPU": {{ $isIntelGPU }},
        "isAmdGPU": {{ $isAmdGPU }},
        "isWindows": {{ $isWindows }},
        "isMac": {{ $isMac }},
        "isLinux": {{ $isLinux }},
        "osID": {{ $osID |quote }},
        "fullname": {{ $fullname | quote }},
        "email": {{ $email | quote }},
        "applications": {
            "terminal": {
                "linux": {
                    "name": "Ghostty",
                    "command": "ghostty",
                    "class": "com.mitchellh.ghostty",
                    "desktop_name": "com.mitchellh.ghostty"
                },
                "keybinding": "{{$MOD}}{{$SEP}}T",
            },
            "editor": {
                "linux": {
                    "name": "code-insiders",
                    "command": "code-insiders",
                    "class": "code-insiders",
                },
                "windows": {
                    "name": "code-insiders",
                    "command": "code-insiders",
                    "class": "code-insiders"
                },
                "keybinding": "{{$MOD}}{{$SEP}}C",
            },
            "browser": {
                "linux": {
                    "name": "brave-browser",
                    "command": "brave",
                    "class": "brave-browser"
                },
                "windows": {
                    "name": "brave-browser",
                    "command": "brave",
                    "class": "brave-browser"
                },
                "keybinding": "{{$MOD}}{{$SEP}}B",
            },
            "filemanager": {
                "linux": {
                    "name": "nemo",
                    "command": "nemo",
                    "class": "nemo"
                },
                "windows": {
                    "name": "explorer",
                    "command": "explorer.exe",
                    "class": "explorer"
                },
                "keybinding": "{{$MOD}}{{$SEP}}E",
            },
            "imageviewer": {
                "linux": {
                    "name": "qimgv",
                    "command": "qimgv",
                    "class": "qimgv"
                }
            },
            "videoplayer": {
                "linux": {
                    "name": "vlc",
                    "command": "vlc",
                    "class": "vlc"
                },
                "windows": {
                    "name": "vlc",
                    "command": "vlc",
                    "class": "vlc"
                }
            },
            "notes": {
                "keybinding": "{{$MOD}}{{$SEP}}N",
                "linux": {
                    "name": "obsidian",
                    "command": "obsidian",
                    "class": "obsidian"
                },
            },
            "burp": {
                "linux": {
                    "name": "burp",
                    "command": "burp",
                    "class": "burp-StartBurp"
                },
                "keybinding": "{{$MOD}}{{$SEP}}X",
            }
        },
        "utilities": {
            "lockscreen": {
                "description": "Lock the screen",
                "keybinding": "{{$MOD}}{{$SEP}}L",
                "linux": {
                    "name": "swaylock",
                    "command": "pidof swaylock || swaylock",
                    "class": "swaylock"
                }
            },
            "launcher": {
                "description": "Open the launcher",
                "keybinding": "{{$MOD}}{{$SEP}}SPACE",
                "linux":{
                    "name": "launcher",
                    "command": "/usr/bin/walker",
                    "class": "walker"
                }
            },
            "emojimenu": {
                "description": "Open the emoji launcher",
                "keybinding": "{{$MOD}}{{$SEP}}J",
                "linux":{
                    "name": "emoji",
                    "command": "~/.local/bin/emoji-menu",
                    "class": "emoji-menu"
                }
            },
            "clipboard": {
                "description": "Open the clipboard manager",
                "keybinding": "{{$MOD}}{{$SEP}}V",
                "linux": {
                    "name": "clipmenu",
                    "command": "/usr/bin/clipse-gui",
                    "class": "clipmenu"
                }
            },
            "colorpicker": {
                "description": "Open the colorpicker",
                "keybinding": "{{$MOD}}{{$SEP}}C",
                "linux": {
                    "name": "colorpicker",
                    "command": "colorpicker",
                    "class": "colorpicker"
                }
            },
            "screenshot": {
                "description": "Take an interactive screenshot",
                "keybinding": "{{$SEP}}Print",
                "linux": {
                    "name": "flameshot",
                    "command": "flameshot gui",
                    "class": "flameshot"
                },
                "windows": {
                    "name": "flameshot",
                    "command": "flameshot gui",
                    "class": "flameshot"
                }
            },
            "ocr": {
                "description": "Perform OCR on a screen selection",
                "keybinding": "{{$MOD}}{{$SEP}}O",
                "linux": {
                    "name": "wl-ocr",
                    "command": "wl-ocr",
                    "class": "wl-ocr"
                }
            }
        }
    },
    "github": {
        "refreshPeriod": "12h"
    }
}
