#!/usr/bin/env bash
{{ if and (eq .osID "linux-arch") (not .isHeadless) -}}
if ! pacman -Qs paru >/dev/null 2>&1; then
    sudo pacman -S --needed base-devel --noconfirm
    git clone https://aur.archlinux.org/paru.git /tmp/paru
    cd /tmp/paru
    makepkg -si --noconfirm
    rm -rf /tmp/paru
fi
{{ end -}}
