@import "scss/variables.scss";
@import "scss/music.scss";
@import "scss/notifications.scss";

* {
	all: unset;
	font-family: feather;
	font-family: Inter Nerd Font;
}

/** General **/
.bar_class {
	background-color: $background;
	border-radius: 16px;
	border-style: solid;
	border-width: 3px;
	border-color: $purple;
}

.module {
	margin: 0px 0px 0px 0px;
	// background-color: $background;
	// border-radius: 10px 10px 0px 10px;
	// border-style: solid;
	// border-width: 2;
	// border-color: $purple;
}

.center_modules {
	margin: 0px 0px 0px 0px;
	// margin-top: 20px;
	// margin-right: 55px;
	// background-color: $background;
	// border-radius: 10px 10px 0px 10px;
	// border-style: solid;
	// border-width: 2;
	// border-color: $purple;
}

.left_modules {
	margin: 0px 0px 0px 0px;
	// background-color: $background;
	// border-radius: 10px 10px 0px 10px;
	// border-style: solid;
	// border-width: 2;
	// border-color: $purple;
}

.right_modules {
	margin: 0px 0px 0px 0px;
	// background-color: $background;
	// border-radius: 10px 10px 0px 10px;
	// border-style: solid;
	// border-width: 2;
	// border-color: $purple;
}

menu {
	background: $background;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	border: 2px solid $purple;
	padding: 1rem 0;
}

menu menu {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

menu > menuitem {
	padding: 0.4em 1.5rem;
	background: transparent;
	transition: 0.2s ease background;
}

menu > menuitem:hover {
	background: rgba(255, 255, 255, 0.1);
}

menu > menuitem check:checked ~ label {
	color: $purple;
	font-weight: 600;
}

menubar > menuitem {
	margin-left: 0.6rem;
}

/** tooltip!! **/
tooltip.background {
	background-color: $transparent;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	color: $white;
}

tooltip label {
	margin: 6px;
}

/** Widgets **/

.clock_date_class0 {
	font-size: 20px;
	margin: 0px 20px 0px 0px;
	color: $red;
}

.clock_date_class1 {
	font-size: 16px;
	margin: 0px 20px 0px 0px;
	color: $red;
}

.clock_time_class0 {
	color: $white;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
}

.clock_time_class1 {
	color: $white;
	font-size: 16px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
}

.caffeine-icon {
  margin: -5px 0px 0px 0px;
}

.powermenu-icon {
  margin: 10px 10px 10px 0px;
	font-family: Material\-Design\-Iconic\-Font;
	font-size: 24px;
	font-weight: bold;
	color: $white;
	border-radius: 6px;
}

.batbar {
	color: $green;
	background-color: $grey;
	border-radius: 10px;
	padding: 0px 0px 0px 0px;
}

.membar {
	color: $orange;
	background-color: $grey;
	border-radius: 10px;
	padding: 0px 0px 0px 0px;
}

.iconmem {
	color: $orange;
}

.iconbat {
	color: $green;
}

.iconbat,
.iconmem {
	font-size: 15px;
	margin: 10px;
}

.separ {
	color: $grey;
	font-weight: bold;
	font-size: 22px;
	margin: -5px 3px 0px 3px;
}

.launcher_module {
	background-color: $transparent;
	font-size: 30px;
	color: $cyan;
	margin-left: 10px;
}

.mem_module {
	background-color: $transparent;
	border-radius: 16px;
	margin: 0px 10px 0px 3px;
}

.bat_module {
	background-color: $transparent;
	border-radius: 16px;
	margin: 0px 10px 0px 10px;
}

scale trough {
	all: unset;
	background-color: #22242b;
	box-shadow: 0 2px 3px 2px $shadow;
	border-radius: 16px;
	min-height: 10px;
	min-width: 70px;
	margin: 0px 10px 0px 0px;
}

.workspaces {
	// border: 2px solid $purple;
	margin: 0px 5px 0px 5px;
	background-color: $transparent;
	padding: 0px 0px 0px 0px;
}

.workspace-num {
	color: $white;
	font-size: 17px;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
	margin: -6px 0px 0px 0px;
}

.weorkspace-icons-left {
	padding: 0px 0px 0px 0px;
}

.weorkspace-icons-right {
	padding: 0px 0px 0px 0px;
}

.active-workspace {
	background-color: $purple;
	// margin-top: -5px;
}

// .inactive-workspace {
// 	margin-top: -5px;
// }

.sys_sep {
	color: $grey;
	font-size: 18px;
	margin: 0px 10px 0px 10px;
}

.sys_text_bat_sub,
.sys_text_mem_sub {
	font-size: 16px;
	color: #bbc5d7;
	margin: 5px 0px 0px 25px;
}

.sys_text_bat,
.sys_text_mem {
	font-size: 20px;
	font-weight: bold;
	margin: 14px 0px 0px 25px;
}

.sys_icon_bat,
.sys_icon_mem {
	font-size: 30px;
	margin: 30px;
}

.sys_win {
	background-color: $background;
	border-radius: 16px;
}

.sys_bat {
	color: $green;
	background-color: $grey;
	border-radius: 10px;
}

.sys_mem {
	color: #f1fa8c;
	background-color: $grey;
	border-radius: 10px;
}

.sys_icon_bat,
.sys_text_bat {
	color: $green;
}

.sys_icon_mem,
.sys_text_mem {
	color: $orange;
}

.sys_bat_box {
	border-radius: 16px;
	margin: 15px 10px 0px 20px;
}

.sys_mem_box {
	border-radius: 16px;
	margin: 15px 10px 0px 20px;
}

.appnames-no-music {
	margin: 15px 50px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.appnames-music {
	margin: 0px 50px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.music-lyrics {
	color: $purple;
	font-size: 16px;
	font-weight: bold;
	// margin: -5px 0px 0px 0px;
}

.music-controls-previous {
	color: $cyan;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
}

.music-controls-play {
	color: $cyan;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
}

.music-controls-next {
	color: $cyan;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
}

.app-name0 {
	color: $white;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
}

.app-name1 {
	color: $white;
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
}

.app-icon {
	margin: 0px 10px 0px 0px;
}

.app-controls {
	color: $cyan;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
}

.date {
	all: unset;
	background-color: $widget-background;
	padding: 33px 27px 27px 27px;
	border-radius: 16px;
	border-style: solid;
	border-width: 2px;
	border-color: $red;
	color: $cyan;
	font-size: 18px;
	font-style: italic;
	font-family: Cartograph CF;
}

.indicators {
	font-size: 20px;
	color: $white;
	margin: 0px 0px 0px 0px;
}
