@import "scss/variables.scss";
@import "scss/music.scss";
@import "scss/notifications.scss";
@import "scss/sidebar.scss";

* {
	all: unset;
	font-family: feather;
	font-family: Inter Nerd Font;
}

/** General **/
.bar_class {
	background-color: $background;
	border-radius: 16px;
	border-style: solid;
	border-width: 3;
	border-color: $purple;
}

.module {
	margin: 0px 0px 0px 0px;
	// background-color: $background;
	// border-radius: 10px 10px 0px 10px;
	// border-style: solid;
	// border-width: 2;
	// border-color: $purple;
}

.center_modules {
	margin: 0px 0px 0px 0px;
	// margin-top: 20px;
	// margin-right: 55px;
	// background-color: $background;
	// border-radius: 10px 10px 0px 10px;
	// border-style: solid;
	// border-width: 2;
	// border-color: $purple;
}

.left_modules {
	margin: 0px 0px 0px 0px;
	// background-color: $background;
	// border-radius: 10px 10px 0px 10px;
	// border-style: solid;
	// border-width: 2;
	// border-color: $purple;
}

.right_modules {
	margin: 0px 0px 0px 0px;
	// background-color: $background;
	// border-radius: 10px 10px 0px 10px;
	// border-style: solid;
	// border-width: 2;
	// border-color: $purple;
}

.rightside, .leftside {
	background-color: $background;
	border-radius: 16px;
	border-style: solid;
	border-width: 2px;
	border-color: $purple;
	padding: 0px 30px 0px 30px;
}

/** tooltip!! **/
tooltip.background {
	background-color: $transparent;
	font-size: 18;
	border-radius: 10px;
	color: $background;
}

tooltip label {
	margin: 6px;
}

/** Widgets **/

.clock_date_class {
	font-size: 24;
	margin: 0px 20px 0px 0px;
	color: $red;
}

.clock_time_class {
	color: $white;
	font-size: 28;
	font-weight: bold;
	margin: 0px 20px 0px 5px;
}

.notif_button {
	font-size: 28;
	margin: 0px 20px 0px 0px;
	color: $white;
}

.powermenu_icon {
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("images/mainicon.jpg");
	background-position: center;
	min-height: 52px;
	min-width: 52px;
	margin: 0px 10px 5px 0px;
	border-radius: 60%;
}

.batbar {
	color: $green;
	background-color: $grey;
	border-radius: 10px;
}

.membar {
	color: $orange;
	background-color: $grey;
	border-radius: 10px;
}

.bright_icon {
	font-size: 22;
	color: $orange;
	margin: 0px 10px 0px 0px;
}

.brightbar trough highlight {
	background-image: linear-gradient(
		to right,
		$orange 30%,
		#f2cdcd 50%,
		$orange 100% * 50
	);
	border-radius: 10px;
}

.volbar trough highlight {
	background-image: linear-gradient(
		to right,
		#afcee0 30%,
		#92b6f4 50%,
		#77a5bf 100% * 50
	);
	border-radius: 10px;
}

.volume_icon {
	font-size: 25px;
	color: $cyan;
	margin: 0px 10px 0px 0px;
}

.module_bluetooth{
	font-size: 25px;
	color: $cyan;
	margin: 0px 10px 0px 5px;
}

.module_essid {
	font-size: 18px;
	color: $cyan;
	margin: 0px 10px 0px 0px;
}
.module-wifi {
	font-size: 25px;
	color: $cyan;
	margin: 0px 10px 0px 5px;
}

.launcher_icon {
	color: $cyan;
	font-size: 36px;
	margin: 0px 0px 0px 15px;
}
.iconsearch {
	color: $white;
	font-size: 24px;
}

.iconmem {
	color: $orange;
}

.iconbat {
	color: $green;
}

.iconbat,
.iconmem {
	font-size: 15px;
	margin: 10px;
}

.separ {
	color: $grey;
	font-weight: bold;
	font-size: 22px;
	margin: 0px 5px 0px 5px;
}

.launcher_module {
	background-color: $transparent;
}

.mem_module {
	background-color: $transparent;
	border-radius: 16px;
	margin: 0px 10px 0px 3px;
}

.bat_module {
	background-color: $transparent;
	border-radius: 16px;
	margin: 0px 10px 0px 10px;
}

scale trough {
	all: unset;
	background-color: #22242b;
	box-shadow: 0 2px 3px 2px $shadow;
	border-radius: 16px;
	min-height: 10px;
	min-width: 70px;
	margin: 0px 10px 0px 0px;
}

.workspaces {
	// border: 2px solid $purple;
	margin: 0px 10px 0px 10px;
	background-color: $transparent;
}

.workspace-num {
	color: $white;
	font-size: 22px;
	font-weight: bold;
	// padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.active-workspace {
	background-color: $purple;
	margin-top: -5px;
}

.inactive-workspace {
	margin-top: -5px;
}

.cal {
	background-color: $background;
	border-radius: 16px;
	font-family: Inter Nerd Font;
	font-size: 18px;
	font-weight: normal;

	.cal-in {
		padding: 10px 20px 10px 20px;
		color: $white;

		.cal {
			&.highlight {
				padding: 20px;
			}

			padding: 5px 5px 5px 5px;
			margin-left: 10px;
		}
	}
}

.cal:selected {
	color: $cyan;
}

.cal.header {
	color: $cyan;
	font-weight: bold;
}

.cal.button {
	color: $green;
}

.cal.highlight {
	color: $cyan;
	font-weight: bold;
}

.cal:indeterminate {
	color: #bfc9db;
}

.sys_sep {
	color: $grey;
	font-size: 18px;
	margin: 0px 10px 0px 10px;
}
.sys_text_bat_sub,
.sys_text_mem_sub {
	font-size: 16px;
	color: #bbc5d7;
	margin: 5px 0px 0px 25px;
}
.sys_text_bat,
.sys_text_mem {
	font-size: 21px;
	font-weight: bold;
	margin: 14px 0px 0px 25px;
}
.sys_icon_bat,
.sys_icon_mem {
	font-size: 30px;
	margin: 30px;
}
.sys_win {
	background-color: $background;
	border-radius: 16px;
}
.sys_bat {
	color: $green;
	background-color: $grey;
	border-radius: 10px;
}
.sys_mem {
	color: #f1fa8c;
	background-color: $grey;
	border-radius: 10px;
}
.sys_icon_bat,
.sys_text_bat {
	color: $green;
}
.sys_icon_mem,
.sys_text_mem {
	color: $orange;
}
.sys_bat_box {
	border-radius: 16px;
	margin: 15px 10px 0px 20px;
}
.sys_mem_box {
	border-radius: 16px;
	margin: 15px 10px 0px 20px;
}

.appnames-no-music {
	margin: 28px 100px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.appnames-music {
	margin: -2px 100px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.music-lyrics{
	color: $purple;
	font-size: 20px;
	font-weight: bold;
	margin: -5px 0px 0px 0px;
}

.music-controls-previous{
	color: $cyan;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
}

.music-controls-play{
	color: $cyan;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
}

.music-controls-next{
	color: $cyan;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
}

.app-name {
	color: $white;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
}

.app-icon {
	margin: 3px 10px 0px 0px;
}

.app-controls {
	color: $cyan;
	font-size: 24px;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
}

.audio-box {
	background-color: $background;
	border-radius: 16px;
}

.speaker_icon {
	background-size: cover;
	background-image: url("images/speaker.png");
	background-position: center;
	min-height: 70px;
	min-width: 75px;
	margin: 10px 20px 0px 20px;
	border-radius: 12px;
}

.speaker_text {
	color: $cyan;
	font-size: 26px;
	font-weight: bold;
	margin: 20px 0px 0px 0px;
}

.speaker_bar scale trough highlight {
	all: unset;
	background-image: linear-gradient(
		to right,
		#afcee0 30%,
		#92b6f4 50%,
		#77a5bf 100% * 50
	);
	border-radius: 24px;
}
.speaker_bar scale trough {
	all: unset;
	background-color: #232232;
	box-shadow: 0 2px 3px 2px $shadow;
	border-radius: 24px;
	min-height: 13px;
	min-width: 120px;
	margin: 0px 0px 5px 0px;
}

.mic_icon {
	background-size: cover;
	background-image: url("images/mic.png");
	background-position: center;
	min-height: 70px;
	min-width: 75px;
	margin: 20px 20px 0px 20px;
	border-radius: 12px;
}

.mic_text {
	color: $cyan;
	font-size: 26px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
}

.mic_bar scale trough highlight {
	all: unset;
	background-image: linear-gradient(
		to right,
		#afcee0 30%,
		#92b6f4 50%,
		#77a5bf 100% * 50
	);
	border-radius: 24px;
}
.mic_bar scale trough {
	all: unset;
	box-shadow: 0 2px 3px 2px $shadow;
	background-color: #232232;
	border-radius: 24px;
	min-height: 13px;
	min-width: 120px;
	margin: 0px 0px 20px 0px;
}

.audio_sep {
	color: #38384d;
	font-size: 18px;
	margin: 0px 0px 0px 0px;
}

.date {
	all: unset;
	background-color: $widget-background;
	padding: 33px 27px 27px 27px;
	border-radius: 16px;
	border-style: solid;
	border-width: 2;
	border-color: $red;
	color: $cyan;
	font-size: 18px;
	font-style: italic;
	font-family: Cartograph CF;
}

.indicators {
	font-size: 20px;
	color: $white;
	margin: 0px 0px 0px 0px;
}