@import url("/home/evangelospro/.config/themes/dracula.css");

.laptop-1920x1080 {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "FiraCode Nerd Font", "FontAwesome 6 Free Solid";
	font-weight: bold;
}

.external-1360x768 {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-family: "FiraCode Nerd Font", "FontAwesome 6 Free Solid";
	font-weight: bold;
}

#waybar {
	background: @transparent;
	color: #eeeeef;
}

#image,
#window,
#idle_inhibitor,
#keyboard-state,
#language,
#custom-notifications,
#custom-powermenu,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#pulseaudio.microphone,
#backlight {
	background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 3px 0px;
    border: 2px solid @purple;
}

#idle_inhibitor {
    color: @orange;
    border-radius: 10px 0px 0px 10px;
}

#keyboard-state {
    color: @orange;
    border-radius: 10px 0px 10px 0px;
}

#language {
    color: @orange;
    border-radius: 0px 0px 0px 0px;
}

#window {
    color: @purple;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#window.empty {
    border: none;
    background: none;
    padding: 0px 0px;
    margin: 0px 0px;
    opacity: 0;
}

#image {
    margin: 0px 0px;
    padding: 0px 0px;
    border-radius: 5px;
}

#temperature {
    border-radius: 10px 0px 0px 10px;
}

#temperature.critical {
    color: @red;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

label:focus {
    background-color: #000000;
}

#custom-powermenu {
	color: @red;
	padding-right: 15px;
	margin-right: 8px;
    border-radius: 0px 10px 10px 0px;
}

#custom-notifications {
	color: @cyan;
    padding-right: 10px;
    border-radius: 0px 0px 0px 0px;
}

#cpu {
	color: @cyan;
    border-radius: 10px 0px 10px 0px;
}

#memory {
	color: @orange;
    border-radius: 10px 0px 10px 0px;
}

#clock {
    color: @orange;
    border-radius: 10px 10px 10px 10px;
    margin: 0px 10px 0px 10px;
}

#network {
    color: @orange;
    border-radius: 10px 0px 0px 10px;
}

#bluetooth {
    color: @cyan;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px
}

#pulseaudio {
    color: @orange;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio.microphone {
    color: @pink;
    border-radius: 0px 0px 0px 0px;
}

#battery {
    color: @green;
    border-radius: 0px 10px 10px 0px;
    padding-right: 15px;
    margin-right: 5px;
}
