{
    "label": "lock",
    "action": "{{.keybindings.utilities.lockscreen.command.linux }}",
    "text": "Lock",
    "keybind": "l"
}
{
    "label": "reboot",
    "action": "reboot-menu",
    "text": "Reboot",
    "keybind": "r"
}
{
    "label": "shutdown",
    "action": "systemctl poweroff",
    "text": "Shutdown",
    "keybind": "s"
}
{
    "label": "logout",
    "action": "loginctl terminate-session $XDG_SESSION_ID",
    "text": "Logout",
    "keybind": "e"
}
{
    "label": "suspend",
    "action": "systemctl suspend",
    "text": "Suspend",
    "keybind": "u"
}
