{
    "label": "reboot",
    "action": "systemctl reboot",
    "text": "Normal Reboot",
    "keybind": "r"
}
{
    "label": "linux",
    "action": "grub-reboot 'elarch Linux, with Linux linux-zen'",
    "text": "Linux",
    "keybind": "l"
}
{
    "label": "windows",
    "action": "grub-reboot 'Windows Boot Manager (on /dev/nvme0n1p1)'",
    "text": "Windows",
    "keybind": "w"
}
