{
    "label": "reboot",
    "action": "systemctl reboot",
    "text": "Normal Reboot",
    "keybind": "r"
}
{
    "label": "linux",
    "action": "reboot-linux",
    "text": "Linux",
    "keybind": "l"
}
{
    "label": "windows",
    "action": "reboot-windows",
    "text": "Windows",
    "keybind": "w"
}
