{
	"email": "{{.email}}",
	"sso_id": null,
	"base_url": null,
	"identity_url": null,
	"ui_url": null,
	"notifications_url": null,
	"lock_timeout": 3600,
	"sync_interval": 3600,
	"pinentry": "{{.chezmoi.homeDir}}/.config/rbw/pinentry",
	"client_cert_path": null
}
