# Control keys
$MOD = SUPER
$SHIFT_MOD = $MOD_SHIFT

# Exit Hyprland
bind=$MOD,M,exit

# Launch / Reload Applications
{{- if (eq .chezmoi.hostname "ELARCH-F15") }}
bind=,XF86Launch4,exec,asusctl led-mode -n
{{- end }}
bind=$MOD,Return,exec,wezterm start --always-new-process
bind=$MOD,B,exec,thorium-browser
bind=$SHIFT_MOD,B,exec,burp
bind=$MOD_SHIFT,D,exec,vesktop
bind=$MOD,S,exec,spotify-launcher
bindl=$MOD,L,exec,lockscreen
bind=$MOD,SPACE,exec,launcher
bind=,XF86Search,exec,launcher
bind=$MOD,V,exec,clip-menu
bind=$MOD,C,exec,hyprpicker | wl-copy
bind=$MOD,E,exec,nemo
bind=$SHIFT_MOD,R,exec,reload-hyprland
bind=$MOD,R,exec,dynamic-resize

# Close / Fullscreen / Kill Applications / Arrange monitors
bind=ALT_L,F4,killactive
bindr=CTRL_SHIFT,ESCAPE,exec, hyprctl kill # xkill like functionality
bind=$MOD,F,fullscreen,0
bind=$MOD_SHIFT,F,togglefloating
bind=$MOD,P,exec,project-menu

# Screenshot / OCR
## Disable animations for screenshot
bind=,Print,exec,flameshot gui
## Select area to perform OCR on
bind=$MOD,O,exec,wl-ocr

# Function keys
bind=,XF86RFKill,exec,rfkill
binde=,XF86AudioRaiseVolume,exec,volumectl -b up
binde=,XF86AudioLowerVolume,exec,volumectl -b down
bind=,XF86AudioMute,exec,volumectl toggle-mute
bind=,XF86AudioPlay,exec,playerctl play-pause
bind=,XF86AudioNext,exec,playerctl next
bind=,XF86AudioPrev,exec,playerctl previous
binde=,XF86MonBrightnessUp,exec,lightctl up
binde=,XF86MonBrightnessDown,exec,lightctl down

# Move focus between windows in the current workspace
bind=$MOD,left,movewindow,l
bind=$MOD,right,movewindow,r
bind=$MOD,up,movewindow,u
bind=$MOD,down,movewindow,d

# Rearrange windows in the current workspace
bind=$MOD,A,movefocus,l
bind=$MOD,D,movefocus,r
bind=$MOD,W,movefocus,u
bind=$MOD,S,movefocus,d

# Resize windows in the current workspace
binde=$MOD_SHIFT,A,resizeactive, -10 0
binde=$MOD_SHIFT,D,resizeactive, 10 0
binde=$MOD_SHIFT,W,resizeactive, 0 -10
binde=$MOD_SHIFT,S,resizeactive, 0 10

# Scratchpads
## Valent (KDEConnect) special scratchpad workspace
bind=$MOD,K,togglespecialworkspace,backgroundappsvalent
{{- if (eq .chezmoi.hostname "ELARCH-F15") }}
## Rog Control Center special scratchpad workspace
bind=,XF86Launch3,togglespecialworkspace,backgroundappsrogcontrolcenter
{{- end }}

# Hyprload
# bind=$SHIFT_MOD,R,hyprload,reload
# bind=$SHIFT_MOD,U,hyprload,update

# Move Windows Between Monitors
# bind=$SHIFT_MOD,left,split-changemonitor,prev
# bind=$SHIFT_MOD,right,split-changemonitor,next

bind=ALT,TAB,workspace, e+1
bind=$MOD,TAB,workspace, e-1

# Move Windows with Mouse
bindm=$MOD,mouse:272,movewindow

# swaylock when the switch is turning off and then suspend
bindl=,switch:off:Lid Switch,exec,systemctl suspend

# Move Windows Between Workspaces
{{- if ne .chezmoi.hostname "ELARCH-ISO" }}
{{- range $i := untilStep 1 10 1 }}
bind=$MOD,{{$i}},exec, workspace {{$i}}
bind=$SHIFT_MOD,{{$i}},exec, movetoworkspace {{$i}}
{{- end }}
bind=$MOD,0,exec, workspace 10
bind=$SHIFT_MOD,0,exec, movetoworkspace 10
{{- else }}
{{- range $i := untilStep 1 10 1 }}
bind=$MOD,{{$i}},workspace, {{$i}}
bind=$SHIFT_MOD,{{$i}},movetoworkspace, {{$i}}
{{- end}}
bind=$MOD,0,workspace, 10
bind=$SHIFT_MOD,0,movetoworkspace, 10
{{- end }}
