general {
    grace = 0,
    fail_timeout = 1000,

}

animations {
    enabled = false
}

background {
    monitor =
    path = {{ .chezmoi.homeDir }}/Pictures/backgrounds/austronaut-dark.png
    color = rgba(25, 20, 20, 1.0)
}

input-field {
    monitor =

    size             = 380, 400
    rounding         = -1
    outline_thickness = 20

    hide_input            = true
    hide_input_base_color = rgba(98, 114, 164, 1.0)

    inner_color      = rgba(30, 32, 48, 1.0)

    outer_color      = rgba(36, 39, 58, 1.0)

    check_color      = rgba(189, 147, 249, 1.0)

    fail_color       = rgba(255, 85, 85, 1.0)

    capslock_color   = rgba(241, 250, 140, 1.0)

    font_family      = Noto Sans
    font_color       = rgba(202, 211, 245, 1.0)

    swap_font_color  = false

    placeholder_text =

    position = 0, 0
    halign   = center
    valign   = center
}

label {
    monitor =
    text = $TIME
    color = rgba(200, 200, 200, 1.0)
    font_size = 100
    font_family = Noto Sans

    position = 0, 0
    halign = center
    valign = top
}


label {
    monitor =
    text = Hi there, $USER
    color = rgba(200, 200, 200, 1.0)
    font_size = 25
    font_family = Noto Sans

    position = 0, 0
    halign = center
    valign = center
}

label {
    monitor =
    text = Layout: $LAYOUT
    text_trim = false,
    color = rgba(200, 200, 200, 1.0)
    font_size = 25
    font_family = Noto Sans

    halign = right
    valign = bottom
}
