background {
    monitor =
    path = {{ .chezmoi.homeDir }}/Pictures/backgrounds/austronaut-dark.png
    color = rgba(25, 20, 20, 1.0)
}

input-field {
    monitor =
    size = 200, 50
    outline_thickness = 3
    outer_color = rgb(151515)
    inner_color = rgb(200, 200, 200)
    font_color = rgb(10, 10, 10)
    fade_on_empty = true
    placeholder-text = <i>Input Password...</i> # Text rendered in the input box when it's empty.

    position = 0, -20
    halign = center
    valign = center
}

label {
    monitor =
    text = $TIME
    color = rgba(200, 200, 200, 1.0)
    font_size = 100
    font_family = Noto Sans

    position = 0, 150
    halign = center
    valign = center
}


label {
    monitor =
    text = Hi there, $USER
    color = rgba(200, 200, 200, 1.0)
    font_size = 25
    font_family = Noto Sans

    position = 0, 80
    halign = center
    valign = center
}
