# Monitors
monitor=desc:Najing CEC Panda FPD Technology CO. ltd 0x004D, 1920x1080@144, 0x0, 1
monitor=, preferred, auto, 1, mirror, desc:XMD Mi TV 0x00000001, 1920x0
monitor=, preferred, auto, 1, mirror, desc:Optoma Corporation Optoma XGA Q74F6410320, 1920x0


# Workspace binds
{{- range $i := untilStep 1 11 1 }}
workspace={{$i}},monitor:desc:Najing CEC Panda FPD Technology CO. ltd 0x004D
{{- end}}
