# Monitors
monitor=eDP-1, 1920x1080@144, 0x0, 1
monitor=DP-1, 1360x768@60.0150, 1920x0, 1

# Workspace binds
workspace=1,monitor:eDP-1
workspace=2,monitor:eDP-1
workspace=3,monitor:eDP-1
workspace=4,monitor:eDP-1
workspace=5,monitor:eDP-1
workspace=6,monitor:eDP-1
workspace=7,monitor:eDP-1
workspace=8,monitor:eDP-1
workspace=9,monitor:eDP-1
workspace=10,monitor:eDP-1

# Default workspace
workspace=1,monitor:eDP-1,default:true
workspace=eDP-1,1
workspace=11,monitor:DP-1,default:true
workspace=DP-1,11
