# XDG portals(long up startup fix)
exec-once=/usr/bin/systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP
exec-once=/usr/bin/dbus-update-activation-environment --all
# exec-once=$HOME/.config/hypr/scripts/default/fix-xdg-portals

# Hyprland plugins
exec-once=/usr/local/bin/hyprpm reload -n

# Polkit and keyring
exec-once=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
exec-once=/usr/bin/gnome-keyring-daemon --start --components=secrets

# scale apps
exec-once = xprop -root -f _XWAYLAND_GLOBAL_OUTPUT_SCALE 32c -set _XWAYLAND_GLOBAL_OUTPUT_SCALE 2

# Theming
exec-once=/usr/bin/xsettingsd &
exec-once=$HOME/.config/hypr/scripts/import_themes
# exec-once=$HOME/.azotebg-hyprland
exec-once=/usr/bin/hyprpaper

# Bar
## script to load icons on workspaces
exec-once=$HOME/.config/waybar/launch

# IDLE management
exec-once=swayidle

# Applets / OSD / Notifications
exec-once=/usr/bin/swaync
exec-once=/usr/bin/wl-paste --watch cliphist store
exec-once=/usr/bin/usbguard-applet-qt &
exec-once=XDG_CURRENT_DESKTOP=Unity /usr/bin/blueman-applet
exec-once=/usr/bin/nm-applet --indicator
exec-once=/usr/bin/avizo-service

# Utilities & Background apps
exec-once=/usr/bin/flameshot

# Speed up browser startup
exec-once=[workspace special:backgroundappsbrowser silent] /usr/bin/thorium-browser

# OPTIONAL COMPLETELY personal stuff
{{- if (eq .chezmoi.hostname "ELARCH-F15") }}
exec-once=[workspace special:backgroundappsvalent silent] /usr/bin/valent
exec-once=[workspace special:backgroundappsrogcontrolcenter silent] /usr/bin/rog-control-center
exec-once=/usr/bin/seadrive-gui
{{- end }}
{{- if (eq .chezmoi.hostname "ELARCH-ISO") }}
exec-once=/usr/bin/calamares_polkit
{{- end }}
