# SYSTEM STARTUPS

# scale apps
exec-once = xprop -root -f _XWAYLAND_GLOBAL_OUTPUT_SCALE 32c -set _XWAYLAND_GLOBAL_OUTPUT_SCALE 2

# Theming
exec-once = /usr/bin/gnome-keyring-daemon --start --components=secrets &
exec-once = /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
exec-once=dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP
exec-once=systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP

# Auto/mounting drives
exec-once=udiskie

{{- if (ne .chezmoi.hostname "ELARCH-ISO") }}
# exec-once=$HOME/.local/share/hyprload/hyprload.sh
# exec-once=hyprctl dispatch hyprload update # needs sudo for now
{{- end }}

exec-once=$HOME/.config/hypr/scripts/import_themes

#exec-once=swaybg -o \* -i $HOME/Pictures/backgrounds/background.png -m fill
exec-once=~/.azotebg-hyprland
exec-once=swaync # or dunst notification daemon
exec-once=wl-paste --watch cliphist store

exec-once=swayidle

# Applets / OSD
exec-once=usbguard-applet-qt &
exec-once=XDG_CURRENT_DESKTOP=Unity blueman-applet
exec-once=nm-applet --indicator
exec-once=avizo-service

exec-once=/usr/bin/flameshot
# exec-once=$HOME/.config/eww/launch
# exec-once=$HOME/.local/bin/gBarLaunch
# open runner upon new workspace creation
# exec-once=hypr-empty #cargo install --git=https://github.com/nate-sys/hypr-empty
# script to load icons on workspaces
exec-once=$HOME/.config/waybar/scripts/workspaces.py > $HOME/.cache/workspacer.log 2>&1
exec-once=/usr/bin/waybar
# OPTIONAL COMPLETELY personal stuff
{{- if (eq .chezmoi.hostname "ELARCH-F15") }}
exec-once=fusermount -u $HOME/SeaDrive ; seadrive -c $HOME/.config/seadrive/seadrive.conf -l $HOME/.seadrive/logs/seadrive.log -f -d $HOME/.seadrive/data $HOME/SeaDrive -o default_permissions,allow_root,exec
exec-once=/usr/bin/betterbird --headless &
{{- end }}
exec-once=$HOME/.local/bin/keyboard_backlight
exec-once=notify-send "Hyprland is fully loaded!"
{{- if (eq .chezmoi.hostname "ELARCH-ISO") }}
exec-once=/usr/bin/calamares_polkit
{{- end }}
