# Theming
exec-once=/usr/bin/xsettingsd &
exec=$HOME/.config/hypr/scripts/import-themes
## scale apps
exec-once = xprop -root -f _XWAYLAND_GLOBAL_OUTPUT_SCALE 32c -set _XWAYLAND_GLOBAL_OUTPUT_SCALE 2
## borders
# exec-once = $HOME/.config/hypr/scripts/smart-borders

# Hyprland plugins
# exec = $HOME/.config/hypr/scripts/plugin-startup

{{- if .isAsus }}
exec=[workspace special:backgroundappsrogcontrolcenter silent] pidof rog-control-center || /usr/bin/rog-control-center
{{- end }}


# Plugins
exec-once = hyprctl plugin load ~/.config/hypr/plugins/Hyprspace/Hyprspace.so
