hl.on("hyprland.start", function()
    -- Theming
    hl.exec_cmd("xsettingsd &")
    hl.exec_cmd("$HOME/.config/hypr/scripts/import-themes")

    -- Scale apps
    hl.exec_cmd("xprop -root -f _XWAYLAND_GLOBAL_OUTPUT_SCALE 32c -set _XWAYLAND_GLOBAL_OUTPUT_SCALE 2")

    -- Systemd
    hl.exec_cmd("dbus-update-activation-environment --systemd --all")

    {{- if .isAsus }}
    hl.exec_cmd("pidof rog-control-center || /usr/bin/rog-control-center", {workspace = "special:rog-control-centersilent", pin = true})
    {{- end }}
end)
