[
    {
        "name": "eDP-1",
        "path": "{{ .chezmoi.homeDir }}/Pictures/backgrounds/austronaut-dark.png",
        "thumb": "{{ .chezmoi.homeDir }}/.local/share/azote/thumbnails/8bac816c205a5b6f97846adc72e877d1.png"
    },
    {
        "name": "DP-1",
        "path": "{{ .chezmoi.homeDir }}/Pictures/backgrounds/austronaut-dark.png",
        "thumb": "{{ .chezmoi.homeDir }}/.local/share/azote/thumbnails/8bac816c205a5b6f97846adc72e877d1.png"
    },
    {
        "name": "eDP-2",
        "path": "{{ .chezmoi.homeDir }}/Pictures/backgrounds/austronaut-dark.png",
        "thumb": "{{ .chezmoi.homeDir }}/.local/share/azote/thumbnails/8bac816c205a5b6f97846adc72e877d1.png"
    },
    {
        "name": "DP-2",
        "path": "{{ .chezmoi.homeDir }}/Pictures/backgrounds/austronaut-dark.png",
        "thumb": "{{ .chezmoi.homeDir }}/.local/share/azote/thumbnails/8bac816c205a5b6f97846adc72e877d1.png"
    }
]
