# Loading ZINIT
[ ! -d $ZINIT[HOME_DIR] ] && mkdir -p "$(dirname $ZINIT[HOME_DIR])"
[ ! -d $ZINIT[HOME_DIR]/.git ] && git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT[HOME_DIR]"
source "$ZINIT[HOME_DIR]/zinit.zsh"

# Plugins for eval cache
## QuarticCat/zsh-smartcache > mroth/evalcache
zinit light QuarticCat/zsh-smartcache

eval "$(pay-respects zsh --alias)"
# smartcache eval direnv hook zsh
smartcache eval zoxide init zsh
smartcache eval atuin init zsh --disable-up-arrow --disable-ctrl-r 2>&1 >/dev/null

# Plugins for annex speedups
zinit light-mode for \
    zdharma-continuum/zinit-annex-patch-dl \
    zdharma-continuum/zinit-annex-bin-gem-node

# HIGHLIGHT useful after grep
zinit ice lucid pick"h.sh"
zinit light Ga0aG/hhighlighter

zinit ice wait"0" lucid nocd
zinit light jgogstad/zsh-mask

# natively supported in warp
if [[ $TERM_PROGRAM != "WarpTerminal" ]]; then
    # zinit ice wait"0" lucid depth=1 pick="autopair.zsh"
    # zinit light hlissner/zsh-autopair
    zinit ice wait"0" lucid nocd
    zinit snippet $ZDOTDIR/plugins/autopair.zsh

    zinit ice wait"0" lucid nocd
    zinit light icatalina/zsh-navi-plugin

    export YSU_IGNORED_ALIASES=(".." "l" "s" "ls" "ll" "cd.." "pdw" "sudo" "fd" "locate")
    export YSU_HARDCORE=0
    zinit ice wait"0" lucid nocd
    zinit light MichaelAquilina/zsh-you-should-use

    {{ if (not .isHeadless) -}}
    zinit ice wait"0" lucid nocd
    zinit light MichaelAquilina/zsh-auto-notify
    {{ end -}}
fi

zinit ice wait"0" lucid nocd
zinit snippet $ZDOTDIR/plugins/dirhistory.zsh

if [[ $(tput colors) == 256 ]]; then
    eval "$(oh-my-posh init zsh --config ~/.config/ohmyposh/config.json)"
fi

zinit ice "0" lucid nocd
zinit light zsh-users/zsh-completions

# COMPLETIONS
_comp_options+=(globdots)

# zinit command completion
autoload -Uz _zinit
(( ${+_comps} )) && _comps[zinit]=_zinit

zinit ice depth=1 lucid atload'!source $ZDOTDIR/plugins/zsh-autocomplete_atload.zsh'
zinit light marlonrichert/zsh-autocomplete

# compinit must run after zsh-autocomplete
zicompinit
zicdreplay -q # cache completions for faster startup

zinit ice wait"0" lucid nocd
zinit light UtsavMandal2022/zsh-sage

zinit ice wait"0" lucid nocd as"program" from"gh-r" pick"zsh-patina-*/zsh-patina" atload'eval "$(zsh-patina activate)" && eval "$(zsh-patina completion)"'
zinit light michel-kraemer/zsh-patina
