# Loading ZINIT
[ ! -d $ZINIT[HOME_DIR] ] && mkdir -p "$(dirname $ZINIT[HOME_DIR])"
[ ! -d $ZINIT[HOME_DIR]/.git ] && git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT[HOME_DIR]"
source "$ZINIT[HOME_DIR]/zinit.zsh"

# Plugins for eval cache
## QuarticCat/zsh-smartcache > mroth/evalcache
zinit light QuarticCat/zsh-smartcache

## evaluting some useful commands and aliases
eval "$(pay-respects zsh --alias)"
# smartcache eval direnv hook zsh
smartcache eval atuin init zsh --disable-up-arrow --disable-ctrl-r 2>&1 >/dev/null

# Plugins for annex speedups
zinit light-mode for \
    zdharma-continuum/zinit-annex-patch-dl \
    zdharma-continuum/zinit-annex-bin-gem-node \
    NICHOLAS85/z-a-eval

# HIGHLIGHT useful after grep
zinit ice pick"h.sh"
zinit light Ga0aG/hhighlighter

# zinit ice wait"0" lucid nocd
# zinit snippet $ZDOTDIR/plugins/dirhistory.zsh

zinit ice wait"0" lucid depth=1 pick="async.zsh"
zinit light mafredri/zsh-async

zinit ice wait"0" lucid nocd
zinit light jgogstad/zsh-mask

# natively supported in warp
if [[ $TERM_PROGRAM != "WarpTerminal" ]]; then
    # zinit ice wait"0" lucid depth=1 pick="autopair.zsh"
    # zinit light hlissner/zsh-autopair
    zinit ice wait"0" lucid nocd
    zinit snippet $ZDOTDIR/plugins/autopair.zsh

    zinit ice wait"0" lucid nocd
    zinit light icatalina/zsh-navi-plugin

    export YSU_IGNORED_ALIASES=(".." "l" "s" "ls" "ll" "cd.." "pdw" "sudo" "fd" "locate")
    export YSU_HARDCORE=0
    zinit ice wait"0" lucid nocd
    zinit light MichaelAquilina/zsh-you-should-use

    {{ if (not .isHeadless) -}}
    zinit ice wait"0" lucid nocd
    zinit light MichaelAquilina/zsh-auto-notify
    {{ end -}}
fi

if [[ $(tput colors) == 256 ]]; then
    eval "$(oh-my-posh init zsh --config ~/.config/ohmyposh/config.json)"
fi

if [[ $TERM_PROGRAM != "WarpTerminal" ]]; then
    zinit ice depth=1 lucid nocd atload'!source $ZDOTDIR/plugins/zsh-autocomplete_atload.zsh'
    # zinit light marlonrichert/zsh-autocomplete
    zinit light aaronkollasch/zsh-autocomplete

    zinit wait"0" lucid for \
    zsh-users/zsh-completions \
    atload"source $ZDOTDIR/plugins/zsh-autosuggestions_atload.zsh && _zsh_autosuggest_start" \
    zsh-users/zsh-autosuggestions
fi

zinit ice wait"0" lucid nocd atload'!source $ZDOTDIR/plugins/zsh-syntax-highlighting/dracula.sh'
zinit light zdharma-continuum/fast-syntax-highlighting

{{ if .isPersonal -}}
# bitwarden auto export session
zinit ice wait"0" lucid nocd
zinit light Game4Move78/zsh-bitwarden
{{ end -}}
