#!/usr/bin/env bash
set -euo pipefail

# Ensure XDG directories are created
rebos api echo info "Creating XDG user directories"
xdg-user-dirs-update

# Set java to latest java installed
latest_java=$(archlinux-java status|sort -V|tail -n 1)
if ! $(echo "$latest_java" | grep -q "default"); then
    rebos api echo info "Setting java to the latest installed version"
    sudo archlinux-java set $(archlinux-java status|sort -V|tail -n 1)
fi

# update
rebos api echo info "Updating all packages"
~/.local/bin/update

{{- if .isHacking }}
# fix rockyou location on archlinux
if [[ ! -f /usr/share/wordlists/rockyou.txt && $(paru -Qs seclists) == "" ]]; then
    sudo mkdir -p /usr/share/wordlists/
    sudo ln -nsf /usr/share/seclists/Passwords/Leaked-Databases/rockyou.txt /usr/share/wordlists/rockyou.txt
fi
{{- end }}

# Change shell to zsh
if [[ $SHELL == "/bin/zsh" ]]; then
    rebos api echo info "zsh is already the default shell not changing"
else
    if ! paru -Qs zsh >/dev/null 2>&1; then
        rebos api echo error "zsh is not installed..."
    else
        rebos api echo info "Changing shell to zsh"
        sudo chsh -s /bin/zsh $USER
    fi
fi
