#!/usr/bin/env bash
{{ if and (eq .osid "linux-arch") (not .ephemeral) -}}
if ! pacman -Qs bitwarden-cli >/dev/null 2>&1; then
    # use ~/.local/share/chezmoi/confs/etc/pacman.conf
    paru -S --noconfirm bitwarden-cli
fi
{{ end -}}
