#!/usr/bin/env bash
{{ if and (eq .osid "linux-arch") (not .ephemeral) -}}
if ! pacman -Qs rebos >/dev/null 2>&1; then
    # use ~/.local/share/chezmoi/confs/etc/pacman.conf
    paru -S --noconfirm rebos --config ~/.local/share/chezmoi/confs/etc/pacman.conf
fi
{{ end -}}
