[General]
contrastOpacity=188
jpegQuality=75
savePath={{.chezmoi.homeDir}}/Pictures/Screenshots
showHelp=false
showSelectionGeometryHideTime=3000
showStartupLaunchMessage=false
startupLaunch=false
disabledGrimWarning=true
useGrimAdapter=true
