PATH="/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/bin/vendor_perl:/usr/sbin:/bin:/sbin"
PATH="$PATH:$HOME/.local/bin/"
PATH="$PATH:$HOME/.local/share/cargo/bin/"
PATH="$PATH:$HOME/.cpm/bin"
PATH="$PATH:$HOME/.config/hypr/scripts"
# emulator must be before tools (https://www.stkent.com/2017/08/10/update-your-path-for-the-new-android-emulator-location.html)
PATH="$PATH:$ANDROID_HOME/emulator:$ANDROID_HOME/platform-tools:/opt/android-sdk/cmdline-tools/latest/bin"
{{ $rubyPath := (glob (printf "%s/.local/share/gem/ruby/*" .chezmoi.homeDir) | sortAlpha | last) }}
PATH="$PATH:{{ $rubyPath }}/bin"
PATH="$PATH:$HOME/.rvm/bin"
PATH="$PATH:$GOPATH/bin"
PATH="$PATH:$HOME/.dotnet"
PATH="$PATH:$HOME/.config/hypr/scripts"
