VISUAL={{.applications.editor.linux.command}}
EDITOR={{.applications.editor.linux.command}}
SUDO_EDITOR="{{.applications.editor.linux.command}} --wait"
TERMINAL={{.applications.terminal.linux.command}}
BROWSER={{.applications.browser.linux.command}}
MANPAGER="/usr/bin/less -s -M +Gg"
DIFFPROG={{.applications.editor.linux.command}} -d
DOCKER_BUILDKIT=1
VIMINIT="source $XDG_CONFIG_HOME/vim/.vimrc"
