# Log Aquamarine (AQ) errors and logs to the hyprland log. Recommended(but it litters the logs)
{{- if eq .chezmoi.hostname "ELARCH-ISO" }}
HYPRLAND_TRACE=1
{{- else }}
HYPRLAND_TRACE=0
{{- end }}


# MOZILLA
MOZ_ENABLE_WAYLAND=1
MOZ_USE_XINPUT2=1
MOZ_ENABLE_WAYLAND=1

# XDG
XDG_CURRENT_DESKTOP=Hyprland
XDG_SESSION_TYPE=wayland
XDG_SESSION_DESKTOP=Hyprland

# GTK
GDK_BACKEND=wayland,x11,*

# QT
QT_AUTO_SCREEN_SCALE_FACTOR=1
QT_QPA_PLATFORM="wayland;xcb"
QT_WAYLAND_DISABLE_WINDOWDECORATION=1
QT_QPA_PLATFORMTHEME=qt5ct

# SDL
SDL_VIDEODRIVER=wayland

# CLUTTER
CLUTTER_BACKEND=wayland

# Java
__JAVA_AWT_WM_NONREPARENTING=1
AWT_TOOLKIT=MToolkit

# obsidian
OBSIDIAN_USE_WAYLAND=1

# warp.dev terminal
WARP_ENABLE_WAYLAND=1

HYPRCURSOR_THEME=HyprBibataModernAmberSVG
HYPRCURSOR_SIZE=24
