WLR_DRM_DEVICES=/dev/dri/card1:/dev/dri/card0

# mainly for vms without gpu
WLR_RENDERER_ALLOW_SOFTWARE=1
WLR_DRM_NO_MODIFIERS=1
# shows the cursor on duplicated displays
WLR_NO_HARDWARE_CURSOR=1

# Log WLR errors and logs to the hyprland log. Recommended(but it litters the logs)
{{- if eq .chezmoi.hostname "ELARCH-ISO" }}
HYPRLAND_LOG_WLR=1
{{- else }}
HYPRLAND_LOG_WLR=0
{{- end }}


# MOZILLA
MOZ_ENABLE_WAYLAND=1
MOZ_USE_XINPUT2=1
MOZ_ENABLE_WAYLAND=1
SDL_VIDEODRIVER=wayland

# Java= QT and GTK
XDG_CURRENT_DESKTOP=Hyprland
XDG_SESSION_TYPE=wayland
XDG_SESSION_DESKTOP=Hyprland
GDK_BACKEND=wayland
QT_AUTO_SCREEN_SCALE_FACTOR=1
QT_QPA_PLATFORM="wayland;xcb"
QT_WAYLAND_DISABLE_WINDOWDECORATION=1
QT_QPA_PLATFORMTHEME=qt5ct
__JAVA_AWT_WM_NONREPARENTING=1

OBSIDIAN_USE_WAYLAND=1
