{{- if .isHacking }}
# Hacking tools
HACKING_TOOLS="{{.chezmoi.homeDir}}/HACKING/Tools"
{{- end }}
{{- if .isPersonal }}
C_HOST=http://c.infra
SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/rbw/ssh-agent-socket"
{{- end }}
