//Notification Center
.notification-button0 {
	font-family: Material\-Design\-Iconic\-Font;
	font-size: 24px;
	color: $white;
	border-radius: 6px;
  margin: 10px 0px 10px 5px;
}

.notification-button1 {
	font-family: Material\-Design\-Iconic\-Font;
	font-size: 22px;
	color: $white;
	border-radius: 6px;
  margin: 10px 0px 10px 5px;
}
