{
    "runtimes": {
        {{- if .isNvidiaGPU }}
        "nvidia": {
            "args": [],
            "path": "nvidia-container-runtime"
        }
        {{- end }}
    },
    "storage-driver": "overlay2"
}
