imports = [
    "core_packages",
    "applications",
    "programming",
    "toolkits",
    "utils",
    "chaotic-aur",
    "docker",
    "dotfiles",
    "file_managment",
    "fonts",
    "git",
    "hyprland",
    "packaging",
    "rdp",
    "shell",
    "themes",
    "vpns",
    "xdg",
    "downloaders",
    {{- if .isAsus }}
    "asus",
    {{- end }}
    {{- if .isIntel }}
    "gpu_drivers/intel",
    {{- end }}
    {{- if .isAmd }}
    "gpu_drivers/amd",
    {{- end }}
    {{- if .isNvidia }}
    "gpu_drivers/nvidia",
    {{- end }}
    {{- if .isHacking }}
    "hacking",
    {{- end }}
]

[managers.systemd-system]
items = [
    "ntpdate", # idk why arch doesn't have this by default
    "docker",
    "plocate-updatedb.timer",
    {{- if .isLaptop }}
    "NetworkManager",
    "bluetooth",
    {{- end }}
    {{- if .isNvidia }}
    # "nvidia-suspend",
    # "nvidia-hibernate",
    # "nvidia-resume",
    {{- end }}
]

[managers.systemd-user]
items = [
    "docker",
    "gnome-keyring-daemon",
    "battery_notifier",
    "polkit-gnome",
    "avizo",
    "swaync",
    "idle",
    "wl-clip-persist",
    "wl-paste",
    "clipboard-sync",
    "battery_notifier",
    "waybar",
    "waybar-icons",
    "blueman-applet",
    "nm-applet",
    "usbguard-applet",
    "udiskie",
]

[managers.groups]
items = [
    "seat",
]
