imports = [
    "core_packages",
    "networking",
    "programming",
    "toolkits",
    "utils",
    "docker",
    "dotfiles",
    "file_managment",
    "fonts",
    "git",
    "packaging",
    "rdp",
    "shell",
    "themes",
    "vpns",
    "xdg",
    "downloaders",
    {{- if .isPersonal }}
    "applications/password_manager",
    {{- end }}
    {{- if not .isHeadless }}
    "hyprland",
    "applications",
    {{- end }}
    {{- if .isAsus }}
    "asus",
    {{- end }}
    {{- if .isIntelGPU }}
    "gpu/intel",
    {{- end }}
    {{- if .isAmdGPU }}
    "gpu/amd",
    {{- end }}
    {{- if .isNvidiaGPU }}
    "gpu/nvidia",
    {{- end }}
    {{- if .isHacking }}
    "hacking",
    {{- end }}
]

[managers.pypy]
items = [
    "pip", # just in case
]

[managers.groups]
items = [
    "input",
    "users",
    "seat",
    "video",
]
