imports = [
    "core_packages",
    "networking",
    "applications",
    "programming",
    "toolkits",
    "utils",
    "chaotic-aur",
    "docker",
    "dotfiles",
    "file_managment",
    "fonts",
    "git",
    "hyprland",
    "packaging",
    "rdp",
    "shell",
    "themes",
    "vpns",
    "xdg",
    "downloaders",
    {{- if .isAsus }}
    "asus",
    {{- end }}
    {{- if .isIntelGPU }}
    "drivers/gpu/intel",
    {{- end }}
    {{- if .isAmdGPU }}
    "drivers/gpu/amd",
    {{- end }}
    {{- if .isNvidiaGPU }}
    "drivers/gpu/nvidia",
    {{- end }}
    "drivers/wireless/wifi",
    {{- if .isHacking }}
    "hacking",
    {{- end }}
    {{- if .isPersonal }}
    "applications/password_manager",
    {{- end }}
]

[managers.systemd-system]
items = [
    "ntpd", # idk why arch doesn't have this by default
    "plocate-updatedb.timer",
    {{- if .isLaptop }}
    "NetworkManager",
    "bluetooth",
    {{- end }}
    {{- if .isNvidiaGPU }}
    # "nvidia-suspend",
    # "nvidia-hibernate",
    # "nvidia-resume",
    {{- end }}
    {{- if .isAsus }}
    # "power-profiles-daemon",
    "asusd",
    "supergfxd",
    "switcheroo-control",
    {{- end }}
]

[managers.systemd-user]
items = [
    "hyprpaper",
    "wireplumber",
    "docker",
    "gnome-keyring-daemon",
    "battery-notifier",
    "walker",
    "flameshot",
    "hypridle",
    "clipboard-sync",
    "hyprpanel",
    "hyprpolkitagent",
    # "blueman-applet",
    "nm-applet",
    "udiskie",
]

[managers.pypy]
items = [
    "pip", # just in case
]

[managers.groups]
items = [
    "users",
    "seat",
    "video",
]
