set debuginfod enabled off

define init-pwndbg
source /usr/share/pwndbg/gdbinit.py
end
document init-pwndbg
Initializes PwnDBG
end

define init-gef
source /usr/share/gef/gef.py
end
document init-gef
Initializes GEF (GDB Enhanced Features)
end
