[Added Associations]
text/html={{.applications.browser.linux.name}}.desktop;

[Default Applications]
application/eps=com.github.xournalpp.xournalpp.desktop;
application/ogg={{.applications.videoplayer.linux.name}}.desktop;
application/pdf=com.github.xournalpp.xournalpp.desktop;
application/postscript=com.github.xournalpp.xournalpp.desktop;
application/sdp={{.applications.videoplayer.linux.name}}.desktop;
application/smil={{.applications.videoplayer.linux.name}}.desktop;
application/x-ogg={{.applications.videoplayer.linux.name}}.desktop;
application/x-smil={{.applications.videoplayer.linux.name}}.desktop;
application/x-streamingmedia={{.applications.videoplayer.linux.name}}.desktop;
audio/aac={{.applications.videoplayer.linux.name}}.desktop;
audio/ac3={{.applications.videoplayer.linux.name}}.desktop;
audio/amr={{.applications.videoplayer.linux.name}}.desktop;
audio/flac={{.applications.videoplayer.linux.name}}.desktop;
audio/m4a={{.applications.videoplayer.linux.name}}.desktop;
audio/mp1={{.applications.videoplayer.linux.name}}.desktop;
audio/mp2={{.applications.videoplayer.linux.name}}.desktop;
audio/mp3={{.applications.videoplayer.linux.name}}.desktop;
audio/mp4={{.applications.videoplayer.linux.name}}.desktop;
audio/mpeg={{.applications.videoplayer.linux.name}}.desktop;
audio/mpegurl={{.applications.videoplayer.linux.name}}.desktop;
audio/mpg={{.applications.videoplayer.linux.name}}.desktop;
audio/ogg={{.applications.videoplayer.linux.name}}.desktop;
audio/rn-mpeg={{.applications.videoplayer.linux.name}}.desktop;
audio/scpls={{.applications.videoplayer.linux.name}}.desktop;
audio/vnd.rn-realaudio={{.applications.videoplayer.linux.name}}.desktop;
audio/wav={{.applications.videoplayer.linux.name}}.desktop;
audio/x-aac={{.applications.videoplayer.linux.name}}.desktop;
audio/x-ape={{.applications.videoplayer.linux.name}}.desktop;
audio/x-flac={{.applications.videoplayer.linux.name}}.desktop;
audio/x-m4a={{.applications.videoplayer.linux.name}}.desktop;
audio/x-mp1={{.applications.videoplayer.linux.name}}.desktop;
audio/x-mp2={{.applications.videoplayer.linux.name}}.desktop;
audio/x-mp3={{.applications.videoplayer.linux.name}}.desktop;
audio/x-mpeg={{.applications.videoplayer.linux.name}}.desktop;
audio/x-mpegurl={{.applications.videoplayer.linux.name}}.desktop;
audio/x-mpg={{.applications.videoplayer.linux.name}}.desktop;
audio/x-ms-wma={{.applications.videoplayer.linux.name}}.desktop;
audio/x-pls={{.applications.videoplayer.linux.name}}.desktop;
audio/x-pn-realaudio={{.applications.videoplayer.linux.name}}.desktop;
audio/x-pn-windows-pcm={{.applications.videoplayer.linux.name}}.desktop;
audio/x-realaudio={{.applications.videoplayer.linux.name}}.desktop;
audio/x-scpls={{.applications.videoplayer.linux.name}}.desktop;
audio/x-shorten={{.applications.videoplayer.linux.name}}.desktop;
audio/x-tta={{.applications.videoplayer.linux.name}}.desktop;
audio/x-vorbis+ogg={{.applications.videoplayer.linux.name}}.desktop;
audio/x-wav={{.applications.videoplayer.linux.name}}.desktop;
audio/x-wavpack={{.applications.videoplayer.linux.name}}.desktop;
ideo/mp2t={{.applications.videoplayer.linux.name}}.desktop;
image/bmp={{.applications.imageviewer.linux.name}}.desktop;
image/gif={{.applications.imageviewer.linux.name}}.desktop;
image/jpeg={{.applications.imageviewer.linux.name}}.desktop;
image/jpg={{.applications.imageviewer.linux.name}}.desktop;
image/apng={{.applications.imageviewer.linux.name}}.desktop;
image/pjpeg={{.applications.imageviewer.linux.name}}.desktop;
image/png={{.applications.imageviewer.linux.name}}.desktop;
image/svg+xml={{.applications.imageviewer.linux.name}}.desktop;
text/*={{.applications.editor}}.desktop;
text/html={{.applications.browser.linux.name}}.desktop
video/mp4={{.applications.videoplayer.linux.name}}.desktop;
video/mpeg={{.applications.videoplayer.linux.name}}.desktop;
video/msvideo={{.applications.videoplayer.linux.name}}.desktop;
video/ogg={{.applications.videoplayer.linux.name}}.desktop;
video/quicktime={{.applications.videoplayer.linux.name}}.desktop;
video/vnd.rn-realvideo={{.applications.videoplayer.linux.name}}.desktop;
video/webm={{.applications.videoplayer.linux.name}}.desktop;
video/x-avi={{.applications.videoplayer.linux.name}}.desktop;
video/vnd.avi={{.applications.videoplayer.linux.name}}.desktop;
video/x-fli={{.applications.videoplayer.linux.name}}.desktop;
video/x-flv={{.applications.videoplayer.linux.name}}.desktop;
video/x-matroska={{.applications.videoplayer.linux.name}}.desktop;
video/x-mpeg={{.applications.videoplayer.linux.name}}.desktop;
video/x-mpeg2={{.applications.videoplayer.linux.name}}.desktop;
video/x-ms-afs={{.applications.videoplayer.linux.name}}.desktop;
video/x-ms-asf={{.applications.videoplayer.linux.name}}.desktop;
video/x-ms-wmv={{.applications.videoplayer.linux.name}}.desktop;
video/x-ms-wmx={{.applications.videoplayer.linux.name}}.desktop;
video/x-ms-wvxvideo={{.applications.videoplayer.linux.name}}.desktop;
video/x-msvideo={{.applications.videoplayer.linux.name}}.desktop;
video/x-ogm+ogg={{.applications.videoplayer.linux.name}}.desktop;
video/x-theora={{.applications.videoplayer.linux.name}}.desktop;
x-scheme-handler/ftp={{.applications.browser.linux.name}}.desktop;
x-scheme-handler/http={{.applications.browser.linux.name}}.desktop
x-scheme-handler/https={{.applications.browser.linux.name}}.desktop
x-scheme-handler/spotify=spotify.desktop;
x-scheme-handler/terminal={{.applications.terminal.linux.name}};
x-scheme-handler/about={{.applications.browser.linux.name}}.desktop
x-scheme-handler/unknown={{.applications.browser.linux.name}}.desktop
inode/directory={{.applications.filemanager}}.desktop
inode/mount-point={{.applications.filemanager}}.desktop
application/x-gnome-saved-search={{.applications.filemanager}}.desktop
x-scheme-handler/viber=viber.desktop
x-scheme-handler/mailto={{.applications.browser.linux.name}}.desktop
x-scheme-handler/callto=Zoom.desktop.desktop;
x-scheme-handler/msteams=teams-pwa.desktop;
x-scheme-handler/obsidian=obsidian.desktop;
x-scheme-handler/tel=Zoom.desktop.desktop;
x-scheme-handler/zoommtg=Zoom.desktop.desktop;
x-scheme-handler/zoomphonecall=Zoom.desktop.desktop;
x-scheme-handler/zoomus=Zoom.desktop.desktop;
application/x-zoom=Zoom.desktop.desktop;
x-scheme-handler/discord-1176718791388975124=discord-1176718791388975124.desktop
