[Default Applications]
application/bzip2=org.gnome.FileRoller.desktop;
application/csv=onlyoffice-desktopeditors.desktop;
application/epub+zip=xreader.desktop;
application/excel=onlyoffice-desktopeditors.desktop;
application/gzip=org.gnome.FileRoller.desktop;
application/illustrator=xreader.desktop;
application/ipfix=org.wireshark.Wireshark.desktop;
application/java-archive=java-java-jdk.desktop;java-java-openjdk.desktop;java-java21-openjdk.desktop;recaf.desktop;
application/mpeg4-iod={{.applications.videoplayer.linux.name}}.desktop;
application/mpeg4-muxcodetable={{.applications.videoplayer.linux.name}}.desktop;
application/msexcel=onlyoffice-desktopeditors.desktop;
application/mspowerpoint=onlyoffice-desktopeditors.desktop;
application/msword=onlyoffice-desktopeditors.desktop;
application/mxf={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
application/ogg=audacity.desktop;{{.applications.videoplayer.linux.name}}.desktop;sonic-visualiser.desktop;{{.applications.videoplayer.linux.name}}.desktop;
application/oxps=xreader.desktop;
application/pdf=com.github.xournalpp.xournalpp.desktop;thorium-browser.desktop;xreader.desktop;
application/pgp-keys=org.gnome.seahorse.Application.desktop;
application/pkcs10=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/pkcs10+pem=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/pkcs12=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/pkcs12+pem=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/pkcs7-mime=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/pkcs7-mime+pem=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/pkcs8=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/pkcs8+pem=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/pkix-cert=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/pkix-cert+pem=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/pkix-crl=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/pkix-crl+pem=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/postscript=xreader.desktop;
application/ram={{.applications.videoplayer.linux.name}}.desktop;
application/rdf+xml=thorium-browser.desktop;
application/rss+xml=thorium-browser.desktop;
application/rtf=onlyoffice-desktopeditors.desktop;
application/sdp={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
application/smil={{.applications.videoplayer.linux.name}}.desktop;
application/streamingmedia={{.applications.videoplayer.linux.name}}.desktop;
application/vnd.android.package-archive=org.gnome.FileRoller.desktop;waydroid.app.install.desktop;
application/vnd.apple.mpegurl={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
application/vnd.comicbook+zip=xreader.desktop;
application/vnd.comicbook-rar=xreader.desktop;
application/vnd.debian.binary-package=org.gnome.FileRoller.desktop;
application/vnd.ms-asf={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
application/vnd.ms-cab-compressed=org.gnome.FileRoller.desktop;
application/vnd.ms-excel=onlyoffice-desktopeditors.desktop;
application/vnd.ms-excel.sheet.binary.macroenabled.12=onlyoffice-desktopeditors.desktop;
application/vnd.ms-excel.sheet.macroenabled.12=onlyoffice-desktopeditors.desktop;
application/vnd.ms-excel.template.macroenabled.12=onlyoffice-desktopeditors.desktop;
application/vnd.ms-powerpoint=onlyoffice-desktopeditors.desktop;
application/vnd.ms-powerpoint.presentation.macroenabled.12=onlyoffice-desktopeditors.desktop;
application/vnd.ms-powerpoint.slideshow.macroEnabled.12=onlyoffice-desktopeditors.desktop;
application/vnd.ms-powerpoint.template.macroenabled.12=onlyoffice-desktopeditors.desktop;
application/vnd.ms-word=onlyoffice-desktopeditors.desktop;
application/vnd.ms-word.document.macroenabled.12=onlyoffice-desktopeditors.desktop;
application/vnd.ms-word.template.macroenabled.12=onlyoffice-desktopeditors.desktop;
application/vnd.ms-wpl={{.applications.videoplayer.linux.name}}.desktop;
application/vnd.ms-xpsdocument=xreader.desktop;
application/vnd.oasis.opendocument.presentation=onlyoffice-desktopeditors.desktop;
application/vnd.oasis.opendocument.presentation-template=onlyoffice-desktopeditors.desktop;
application/vnd.oasis.opendocument.spreadsheet=onlyoffice-desktopeditors.desktop;
application/vnd.oasis.opendocument.spreadsheet-template=onlyoffice-desktopeditors.desktop;
application/vnd.oasis.opendocument.text=onlyoffice-desktopeditors.desktop;
application/vnd.oasis.opendocument.text-master=onlyoffice-desktopeditors.desktop;
application/vnd.oasis.opendocument.text-template=onlyoffice-desktopeditors.desktop;
application/vnd.oasis.opendocument.text-web=onlyoffice-desktopeditors.desktop;
application/vnd.openxmlformats-officedocument.presentationml.presentation=onlyoffice-desktopeditors.desktop;
application/vnd.openxmlformats-officedocument.presentationml.slide=onlyoffice-desktopeditors.desktop;
application/vnd.openxmlformats-officedocument.presentationml.slideshow=onlyoffice-desktopeditors.desktop;
application/vnd.openxmlformats-officedocument.presentationml.template=onlyoffice-desktopeditors.desktop;
application/vnd.openxmlformats-officedocument.spreadsheetml.sheet=onlyoffice-desktopeditors.desktop;
application/vnd.openxmlformats-officedocument.spreadsheetml.template=onlyoffice-desktopeditors.desktop;
application/vnd.openxmlformats-officedocument.wordprocessingml.document=onlyoffice-desktopeditors.desktop;
application/vnd.openxmlformats-officedocument.wordprocessingml.template=onlyoffice-desktopeditors.desktop;
application/vnd.rar=org.gnome.FileRoller.desktop;
application/vnd.rn-realmedia={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
application/vnd.rn-realmedia-vbr={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
application/vnd.sun.xml.calc=onlyoffice-desktopeditors.desktop;
application/vnd.sun.xml.calc.template=onlyoffice-desktopeditors.desktop;
application/vnd.sun.xml.impress=onlyoffice-desktopeditors.desktop;
application/vnd.sun.xml.impress.template=onlyoffice-desktopeditors.desktop;
application/vnd.sun.xml.writer=onlyoffice-desktopeditors.desktop;
application/vnd.sun.xml.writer.global=onlyoffice-desktopeditors.desktop;
application/vnd.sun.xml.writer.template=onlyoffice-desktopeditors.desktop;
application/vnd.tcpdump.pcap=org.wireshark.Wireshark.desktop;
application/vnd.wordperfect=onlyoffice-desktopeditors.desktop;
application/wordperfect=onlyoffice-desktopeditors.desktop;
application/x-5view=org.wireshark.Wireshark.desktop;
application/x-7z-compressed=org.gnome.FileRoller.desktop;
application/x-7z-compressed-tar=org.gnome.FileRoller.desktop;
application/x-ace=org.gnome.FileRoller.desktop;
application/x-alz=org.gnome.FileRoller.desktop;
application/x-apple-diskimage=org.gnome.FileRoller.desktop;
application/x-apple-packetlogger=org.wireshark.Wireshark.desktop;
application/x-ar=org.gnome.FileRoller.desktop;
application/x-archive=org.gnome.FileRoller.desktop;
application/x-arj=org.gnome.FileRoller.desktop;
application/x-audacity-project=audacity.desktop;
application/x-audacity-project+sqlite3=audacity.desktop;
application/x-brasero=brasero.desktop;
application/x-brotli=org.gnome.FileRoller.desktop;
application/x-bzdvi=xreader.desktop;
application/x-bzip=org.gnome.FileRoller.desktop;
application/x-bzip-brotli-tar=org.gnome.FileRoller.desktop;
application/x-bzip-compressed-tar=org.gnome.FileRoller.desktop;
application/x-bzip1=org.gnome.FileRoller.desktop;
application/x-bzip1-compressed-tar=org.gnome.FileRoller.desktop;
application/x-bzpdf=xreader.desktop;
application/x-bzpostscript=xreader.desktop;
application/x-cabinet=org.gnome.FileRoller.desktop;
application/x-cb7=xreader.desktop;
application/x-cbr=xreader.desktop;
application/x-cbt=xreader.desktop;
application/x-cbz=xreader.desktop;
application/x-cd-image=brasero.desktop;org.gnome.FileRoller.desktop;{{.applications.videoplayer.linux.name}}.desktop;
application/x-cdrdao-toc=brasero.desktop;
application/x-chrome-extension=org.gnome.FileRoller.desktop;
application/x-cmakecache=cmake-gui.desktop;
application/x-compress=org.gnome.FileRoller.desktop;
application/x-compressed-tar=org.gnome.FileRoller.desktop;
application/x-cpio=org.gnome.FileRoller.desktop;
application/x-cue=brasero.desktop;{{.applications.videoplayer.linux.name}}.desktop;
application/x-deb=org.gnome.FileRoller.desktop;
application/x-designer=designer.desktop;
application/x-doc=onlyoffice-desktopeditors.desktop;
application/x-dvi=xreader.desktop;
application/x-ear=org.gnome.FileRoller.desktop;
application/x-endace-erf=org.wireshark.Wireshark.desktop;
application/x-etherpeek=org.wireshark.Wireshark.desktop;
application/x-excel=onlyoffice-desktopeditors.desktop;
application/x-ext-cb7=xreader.desktop;
application/x-ext-cbr=xreader.desktop;
application/x-ext-cbt=xreader.desktop;
application/x-ext-cbz=xreader.desktop;
application/x-extension-iml=android-studio.desktop;
application/x-extension-m4a={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
application/x-extension-mp4={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
application/x-flac={{.applications.videoplayer.linux.name}}.desktop;
application/x-flash-video={{.applications.videoplayer.linux.name}}.desktop;
application/x-fluid=fluid.desktop;
application/x-gnome-saved-search={{.applications.filemanager.linux.name}}.desktop;
application/x-gtar=org.gnome.FileRoller.desktop;
application/x-gzdvi=xreader.desktop;
application/x-gzip=org.gnome.FileRoller.desktop;
application/x-gzpdf=xreader.desktop;
application/x-gzpostscript=org.gnome.FileRoller.desktop;xreader.desktop;
application/x-iptrace=org.wireshark.Wireshark.desktop;
application/x-ixia-vwr=org.wireshark.Wireshark.desktop;
application/x-jar=java-java-jdk.desktop;java-java-openjdk.desktop;java-java21-openjdk.desktop;
application/x-java-archive=java-java-jdk.desktop;java-java-openjdk.desktop;java-java21-openjdk.desktop;org.gnome.FileRoller.desktop;
application/x-keepass2=keepass.desktop;
application/x-lanalyzer=org.wireshark.Wireshark.desktop;
application/x-lha=org.gnome.FileRoller.desktop;
application/x-lhz=org.gnome.FileRoller.desktop;
application/x-linguist=linguist.desktop;
application/x-logisim-evolution=logisim-evolution.desktop;
application/x-lrzip=org.gnome.FileRoller.desktop;
application/x-lrzip-compressed-tar=org.gnome.FileRoller.desktop;
application/x-lz4=org.gnome.FileRoller.desktop;
application/x-lz4-compressed-tar=org.gnome.FileRoller.desktop;
application/x-lzip=org.gnome.FileRoller.desktop;
application/x-lzip-compressed-tar=org.gnome.FileRoller.desktop;
application/x-lzma=org.gnome.FileRoller.desktop;
application/x-lzma-compressed-tar=org.gnome.FileRoller.desktop;
application/x-lzop=org.gnome.FileRoller.desktop;
application/x-matroska={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
application/x-micropross-mplog=org.wireshark.Wireshark.desktop;
application/x-mimearchive=thorium-shell.desktop;
application/x-mpegurl={{.applications.videoplayer.linux.name}}.desktop;
application/x-ms-dos-executable=org.gnome.FileRoller.desktop;
application/x-ms-excel=onlyoffice-desktopeditors.desktop;
application/x-ms-wim=org.gnome.FileRoller.desktop;
application/x-msexcel=onlyoffice-desktopeditors.desktop;
application/x-netinstobserver=org.wireshark.Wireshark.desktop;
application/x-nettl=org.wireshark.Wireshark.desktop;
application/x-ogg={{.applications.videoplayer.linux.name}}.desktop;sonic-visualiser.desktop;{{.applications.videoplayer.linux.name}}.desktop;
application/x-ogm={{.applications.videoplayer.linux.name}}.desktop;
application/x-ogm-audio={{.applications.videoplayer.linux.name}}.desktop;
application/x-ogm-video={{.applications.videoplayer.linux.name}}.desktop;
application/x-pcapng=org.wireshark.Wireshark.desktop;
application/x-pem-file=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/x-pem-key=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/x-pkcs12=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/x-pkcs7-certificates=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/x-quicktime-media-link={{.applications.videoplayer.linux.name}}.desktop;
application/x-quicktimeplayer={{.applications.videoplayer.linux.name}}.desktop;
application/x-radcom=org.wireshark.Wireshark.desktop;
application/x-rar=org.gnome.FileRoller.desktop;
application/x-rar-compressed=org.gnome.FileRoller.desktop;
application/x-remmina=org.remmina.Remmina-file.desktop;org.remmina.Remmina.desktop;
application/x-rpm=org.gnome.FileRoller.desktop;
application/x-rzip=org.gnome.FileRoller.desktop;
application/x-rzip-compressed-tar=org.gnome.FileRoller.desktop;
application/x-sh={{.applications.terminal.linux.name}}.desktop.desktop;
application/x-shellscript={{.applications.terminal.linux.name}}.desktop.desktop;
application/x-shockwave-flash={{.applications.videoplayer.linux.name}}.desktop;
application/x-shorten={{.applications.videoplayer.linux.name}}.desktop;
application/x-smil={{.applications.videoplayer.linux.name}}.desktop;
application/x-snoop=org.wireshark.Wireshark.desktop;
application/x-sonicvisualiser=sonic-visualiser.desktop;
application/x-sonicvisualiser-layer=sonic-visualiser.desktop;
application/x-source-rpm=org.gnome.FileRoller.desktop;
application/x-spkac=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/x-spkac+base64=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/x-ssh-key=org.gnome.seahorse.Application.desktop;
application/x-streamingmedia={{.applications.videoplayer.linux.name}}.desktop;
application/x-stuffit=org.gnome.FileRoller.desktop;
application/x-tar=org.gnome.FileRoller.desktop;
application/x-tarz=org.gnome.FileRoller.desktop;
application/x-tektronix-rf5=org.wireshark.Wireshark.desktop;
application/x-toc=brasero.desktop;
application/x-tzo=org.gnome.FileRoller.desktop;
application/x-visualnetworks=org.wireshark.Wireshark.desktop;
application/x-war=org.gnome.FileRoller.desktop;
application/x-x509-ca-cert=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/x-x509-user-cert=gcr-viewer.desktop;org.gnome.seahorse.Application.desktop;
application/x-xar=org.gnome.FileRoller.desktop;
application/x-xcas=xcas.desktop;
application/x-xoj=com.github.xournalpp.xournalpp.desktop;
application/x-xojpp=com.github.xournalpp.xournalpp.desktop;
application/x-xopp=com.github.xournalpp.xournalpp.desktop;
application/x-xopt=com.github.xournalpp.xournalpp.desktop;
application/x-xz=org.gnome.FileRoller.desktop;
application/x-xz-compressed-tar=org.gnome.FileRoller.desktop;
application/x-xzpdf=xreader.desktop;
application/x-zip=org.gnome.FileRoller.desktop;
application/x-zip-compressed=org.gnome.FileRoller.desktop;
application/x-zoo=org.gnome.FileRoller.desktop;
application/x-zoom=Zoom.desktop;
application/x-zstd-compressed-tar=org.gnome.FileRoller.desktop;
application/xhtml+xml=thorium-browser.desktop;
application/xhtml_xml=thorium-browser.desktop;thorium-shell.desktop;
application/xml=thorium-browser.desktop;
application/xspf+xml={{.applications.videoplayer.linux.name}}.desktop;
application/zip=org.gnome.FileRoller.desktop;
application/zstd=org.gnome.FileRoller.desktop;
audio/3gpp={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/3gpp2={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/AMR={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/AMR-WB={{.applications.videoplayer.linux.name}}.desktop;
audio/aac=audacity.desktop;{{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/ac3=audacity.desktop;{{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/aiff={{.applications.videoplayer.linux.name}}.desktop;
audio/amr-wb={{.applications.videoplayer.linux.name}}.desktop;
audio/basic=audacity.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/dv={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/eac3={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/flac=audacity.desktop;{{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/m3u={{.applications.videoplayer.linux.name}}.desktop;
audio/m4a={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/midi={{.applications.videoplayer.linux.name}}.desktop;
audio/mp1={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/mp2={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/mp3={{.applications.videoplayer.linux.name}}.desktop;sonic-visualiser.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/mp4=audacity.desktop;{{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/mpeg=audacity.desktop;{{.applications.videoplayer.linux.name}}.desktop;sonic-visualiser.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/mpeg2={{.applications.videoplayer.linux.name}}.desktop;
audio/mpeg3={{.applications.videoplayer.linux.name}}.desktop;
audio/mpegurl={{.applications.videoplayer.linux.name}}.desktop;sonic-visualiser.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/mpg={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/musepack={{.applications.videoplayer.linux.name}}.desktop;
audio/ogg={{.applications.videoplayer.linux.name}}.desktop;sonic-visualiser.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/opus={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/rn-mpeg={{.applications.videoplayer.linux.name}}.desktop;
audio/scpls={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/vnd.dolby.heaac.1={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/vnd.dolby.heaac.2={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/vnd.dolby.mlp={{.applications.videoplayer.linux.name}}.desktop;
audio/vnd.dts={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/vnd.dts.hd={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/vnd.rn-realaudio={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/vnd.wave={{.applications.videoplayer.linux.name}}.desktop;
audio/vorbis={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/wav={{.applications.videoplayer.linux.name}}.desktop;sonic-visualiser.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/webm={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-aac={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-adpcm={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-aiff=audacity.desktop;{{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-ape={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-flac=audacity.desktop;sonic-visualiser.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-gsm={{.applications.videoplayer.linux.name}}.desktop;
audio/x-it={{.applications.videoplayer.linux.name}}.desktop;
audio/x-m4a={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-matroska={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-mod={{.applications.videoplayer.linux.name}}.desktop;
audio/x-mp1={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-mp2={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-mp3={{.applications.videoplayer.linux.name}}.desktop;sonic-visualiser.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-mp3-playlist=brasero.desktop;
audio/x-mpeg=sonic-visualiser.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-mpegurl=brasero.desktop;{{.applications.videoplayer.linux.name}}.desktop;sonic-visualiser.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-mpg={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-ms-asf={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-ms-asx=brasero.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-ms-wax={{.applications.videoplayer.linux.name}}.desktop;
audio/x-ms-wma=audacity.desktop;{{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-musepack={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-pls={{.applications.videoplayer.linux.name}}.desktop;
audio/x-pn-aiff={{.applications.videoplayer.linux.name}}.desktop;
audio/x-pn-au={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-pn-realaudio={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-pn-realaudio-plugin={{.applications.videoplayer.linux.name}}.desktop;
audio/x-pn-wav={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-pn-windows-acm={{.applications.videoplayer.linux.name}}.desktop;
audio/x-pn-windows-pcm={{.applications.videoplayer.linux.name}}.desktop;
audio/x-real-audio={{.applications.videoplayer.linux.name}}.desktop;
audio/x-realaudio={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-s3m={{.applications.videoplayer.linux.name}}.desktop;
audio/x-scpls=brasero.desktop;{{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-shorten={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-speex={{.applications.videoplayer.linux.name}}.desktop;
audio/x-tta={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-vorbis={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-vorbis+ogg=audacity.desktop;{{.applications.videoplayer.linux.name}}.desktop;sonic-visualiser.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-wav=audacity.desktop;{{.applications.videoplayer.linux.name}}.desktop;sonic-visualiser.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-wavpack={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
audio/x-xm={{.applications.videoplayer.linux.name}}.desktop;
image/*={{.applications.terminal.linux.name}}.desktop.desktop;xreader.desktop;
image/avif=imv-dir.desktop;imv.desktop;
image/bmp=imv-dir.desktop;imv.desktop;{{.applications.imageviewer.linux.name}}.desktop;
image/gif=imv-dir.desktop;imv.desktop;{{.applications.imageviewer.linux.name}}.desktop;thorium-browser.desktop;
image/heif=imv-dir.desktop;imv.desktop;
image/jpeg=imv-dir.desktop;imv.desktop;{{.applications.imageviewer.linux.name}}.desktop;thorium-browser.desktop;
image/jpg=imv-dir.desktop;imv.desktop;
image/jxl={{.applications.imageviewer.linux.name}}.desktop;
image/pjpeg=imv-dir.desktop;imv.desktop;
image/png=imv-dir.desktop;imv.desktop;{{.applications.imageviewer.linux.name}}.desktop;thorium-browser.desktop;
image/svg+xml={{.applications.imageviewer.linux.name}}.desktop;
image/tiff=imv-dir.desktop;imv.desktop;{{.applications.imageviewer.linux.name}}.desktop;xreader.desktop;
image/vnd.djvu=xreader.desktop;
image/vnd.djvu+multipage=xreader.desktop;
image/vnd.rn-realpix={{.applications.videoplayer.linux.name}}.desktop;
image/webp={{.applications.imageviewer.linux.name}}.desktop;thorium-browser.desktop;
image/x-bmp=imv-dir.desktop;imv.desktop;{{.applications.imageviewer.linux.name}}.desktop;
image/x-bzeps=xreader.desktop;
image/x-eps=xreader.desktop;
image/x-gzeps=xreader.desktop;
image/x-ico={{.applications.imageviewer.linux.name}}.desktop;
image/x-pcx=imv-dir.desktop;imv.desktop;{{.applications.imageviewer.linux.name}}.desktop;
image/x-png=imv-dir.desktop;imv.desktop;{{.applications.imageviewer.linux.name}}.desktop;
image/x-portable-anymap=imv-dir.desktop;imv.desktop;
image/x-portable-bitmap=imv-dir.desktop;imv.desktop;
image/x-portable-graymap=imv-dir.desktop;imv.desktop;
image/x-portable-pixmap=imv-dir.desktop;imv.desktop;
image/x-tga=imv-dir.desktop;imv.desktop;{{.applications.imageviewer.linux.name}}.desktop;
image/x-xbitmap=imv-dir.desktop;imv.desktop;
image/xpm={{.applications.imageviewer.linux.name}}.desktop;
inode/directory={{.applications.filemanager.linux.name}}.desktop;qdirstat.desktop;{{.applications.editor.linux.name}}.desktop;
inode/x-empty={{.applications.editor.linux.name}}.desktop;
inode/mount-point=qdirstat.desktop;
misc/ultravox={{.applications.videoplayer.linux.name}}.desktop;
text/plain={{.applications.editor.linux.name}}.desktop;
text/*={{.applications.editor.linux.name}}.desktop;
text/comma-separated-values=onlyoffice-desktopeditors.desktop;
text/csv=onlyoffice-desktopeditors.desktop;
text/docxf=onlyoffice-desktopeditors.desktop;
text/google-video-pointer={{.applications.videoplayer.linux.name}}.desktop;
text/html=thorium-browser.desktop;thorium-shell.desktop;
text/oform=onlyoffice-desktopeditors.desktop;
text/rtf=onlyoffice-desktopeditors.desktop;
text/spreadsheet=onlyoffice-desktopeditors.desktop;
text/tab-separated-values=onlyoffice-desktopeditors.desktop;
text/vnd.trolltech.linguist=linguist.desktop;
text/x-comma-separated-values=onlyoffice-desktopeditors.desktop;
text/x-csv=onlyoffice-desktopeditors.desktop;
text/x-google-video-pointer={{.applications.videoplayer.linux.name}}.desktop;
text/xml=thorium-browser.desktop;thorium-shell.desktop;
video/3gp={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/3gpp={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/3gpp2={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/avi={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/divx={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/dv={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/fli={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/flv={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/mkv={{.applications.videoplayer.linux.name}}.desktop;
video/mp2t={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/mp4={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/mp4v-es={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/mpeg=audacity.desktop;{{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/mpeg-system={{.applications.videoplayer.linux.name}}.desktop;
video/msvideo={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/ogg={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/quicktime={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/vnd.avi={{.applications.videoplayer.linux.name}}.desktop;
video/vnd.divx={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/vnd.mpegurl={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/vnd.rn-realvideo={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/webm={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/x-anim={{.applications.videoplayer.linux.name}}.desktop;
video/x-avi={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/x-flc={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/x-fli={{.applications.videoplayer.linux.name}}.desktop;
video/x-flic={{.applications.videoplayer.linux.name}}.desktop;
video/x-flv={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/x-m4v={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/x-matroska={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/x-mpeg={{.applications.videoplayer.linux.name}}.desktop;
video/x-mpeg-system={{.applications.videoplayer.linux.name}}.desktop;
video/x-mpeg2={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/x-mpeg3={{.applications.videoplayer.linux.name}}.desktop;
video/x-ms-afs={{.applications.videoplayer.linux.name}}.desktop;
video/x-ms-asf={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/x-ms-asf-plugin={{.applications.videoplayer.linux.name}}.desktop;
video/x-ms-asx={{.applications.videoplayer.linux.name}}.desktop;
video/x-ms-wm={{.applications.videoplayer.linux.name}}.desktop;
video/x-ms-wmv={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/x-ms-wmx={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/x-ms-wvx={{.applications.videoplayer.linux.name}}.desktop;
video/x-ms-wvxvideo={{.applications.videoplayer.linux.name}}.desktop;
video/x-msvideo={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/x-nsv={{.applications.videoplayer.linux.name}}.desktop;
video/x-ogm={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/x-ogm+ogg={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/x-theora={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
video/x-theora+ogg={{.applications.videoplayer.linux.name}}.desktop;{{.applications.videoplayer.linux.name}}.desktop;
x-content/audio-cdda=brasero.desktop;{{.applications.videoplayer.linux.name}}.desktop;
x-content/audio-player={{.applications.videoplayer.linux.name}}.desktop;
x-content/image-dcf=org.gnome.gThumb.Import.desktop;
x-content/image-picturecd=brasero.desktop;org.gnome.gThumb.Import.desktop;
x-content/unix-software=nemo-autorun-software.desktop;
x-content/video-dvd=brasero.desktop;{{.applications.videoplayer.linux.name}}.desktop;
x-content/video-svcd=brasero.desktop;{{.applications.videoplayer.linux.name}}.desktop;
x-content/video-vcd=brasero.desktop;{{.applications.videoplayer.linux.name}}.desktop;
x-scheme-handler/bitwarden=bitwarden.desktop;
x-scheme-handler/callto=Zoom.desktop;
x-scheme-handler/com.googleusercontent.apps.590402290962-2i0b7rqma8b9nmtfrcp7fa06g6cf7g74=org.gnome.evolution-data-server.OAuth2-handler.desktop;
x-scheme-handler/eds-oauth2=org.gnome.evolution-data-server.OAuth2-handler.desktop;
x-scheme-handler/ftp=thorium-browser.desktop;
x-scheme-handler/geo=google-maps-geo-handler.desktop;openstreetmap-geo-handler.desktop;qwant-maps-geo-handler.desktop;wheelmap-geo-handler.desktop;
x-scheme-handler/http=thorium-browser.desktop;thorium-shell.desktop;
x-scheme-handler/https=thorium-browser.desktop;thorium-shell.desktop;
x-scheme-handler/icy={{.applications.videoplayer.linux.name}}.desktop;
x-scheme-handler/icyx={{.applications.videoplayer.linux.name}}.desktop;
x-scheme-handler/kitty={{.applications.terminal.linux.name}}.desktop.desktop;
x-scheme-handler/market=waydroid.market.desktop;
x-scheme-handler/mms={{.applications.videoplayer.linux.name}}.desktop;
x-scheme-handler/mmsh={{.applications.videoplayer.linux.name}}.desktop;
x-scheme-handler/obsidian=obsidian.desktop;
x-scheme-handler/oo-office=onlyoffice-desktopeditors.desktop;
x-scheme-handler/rdp=org.remmina.Remmina-file.desktop;org.remmina.Remmina.desktop;
x-scheme-handler/remmina=org.remmina.Remmina-file.desktop;org.remmina.Remmina.desktop;
x-scheme-handler/rtmp={{.applications.videoplayer.linux.name}}.desktop;
x-scheme-handler/rtp={{.applications.videoplayer.linux.name}}.desktop;
x-scheme-handler/rtsp={{.applications.videoplayer.linux.name}}.desktop;
x-scheme-handler/sgnl=signal-desktop.desktop;
x-scheme-handler/signalcaptcha=signal-desktop.desktop;
x-scheme-handler/spice=org.remmina.Remmina-file.desktop;org.remmina.Remmina.desktop;
x-scheme-handler/spotify=spotube.desktop;
x-scheme-handler/ssh={{.applications.terminal.linux.name}}.desktop.desktop;org.remmina.Remmina.desktop;
x-scheme-handler/tel=Zoom.desktop;
x-scheme-handler/vnc=org.remmina.Remmina-file.desktop;org.remmina.Remmina.desktop;
x-scheme-handler/vscode-insiders=visual-studio-code-insiders-url-handler.desktop;
x-scheme-handler/warp=dev.warp.Warp.desktop;
x-scheme-handler/zoommtg=Zoom.desktop;
x-scheme-handler/zoomphonecall=Zoom.desktop;
x-scheme-handler/zoomus=Zoom.desktop;
x-scheme-handler/discord-1176718791388975124=discord-1176718791388975124.desktop
x-scheme-handler/viber=viber.desktop
