# Monitors
monitor=desc:Najing CEC Panda FPD Technology CO. ltd 0x004D, 1920x1080@144, 0x0, 1
monitor=, disable

# Workspace binds
{{- range $i := untilStep 1 11 1 }}
workspace={{$i}},monitor:desc:Najing CEC Panda FPD Technology CO. ltd 0x004D
{{- end}}
