imports = [
    "programming/python/data_science",
    "virtualisation/qemu",
    "virtualisation/quickemu",
]

[managers.system]
items = [
    "ocrmypdf",
    "github-copilot-cli",
    "syncthing",
]

[managers.systemd-user]
items = [
    "valent",
    "seadrive",
    "syncthing",
]

[managers.pip]
items = [
    "git+https://gitlab.com/evangelospro/seafile-nautilus.git",
    "git+https://github.com/B00TK1D/sideqiq.git",
]
