# --------------------- #
#    Generation File    #
# --------------------- #

imports = [
    {{- if .isPersonal }}
    "applications/password_manager",
    {{- end }}
    "programming/python/data_science",
]

[managers.system]
items = [
    {{- if .isPersonal }}
    "ocrmypdf",
    "github-copilot-cli",
    {{- end }}
]

[managers.systemd-user]
items = [
    {{- if .isPersonal }}
    "seadrive",
    {{- end }}
]
