[Desktop Entry]
Name=Hyprland (Wrapped)
Comment=An intelligent dynamic tiling Wayland compositor
Exec=/home/evangelospro/.config/hypr/wrapper
Type=Appplication