[managers.system]
items = [
    "ntpsec", # network time (idk why arch doesn't have this by default...)
    "tzupdate", # update timezones based on geoip
    "mkinitcpio-numlock", # enable numlock on boot
    "intel-ucode",
    "amd-ucode",
    "mesa-utils",
    "fwupd",
    "fwupd-efi",
    "e2fsprogs",
    "efibootmgr",
    {{- if .isAsus }}
    "linux-g14",
    "linux-g14-headers",
    {{- else }}
    "linux",
    "linux-headers",
    {{- end }}
    "linux-atm",
    "linux-firmware",
    "linux-firmware-marvell",
    "sof-firmware",
    "binder_linux-dkms",
    "lld",
    "llvm",
    "udisks2",
    "parted",
    "zip",
    "unzip",
    "7zip",
    "clang",
    "gcc",
    "alsa-utils",
    "b43-fwcutter",
    "base",
    "bind",
    "brltty",
    "cryptsetup",
    "darkhttpd",
    "ddrescue",
    "dhclient",
    "dhcpcd",
    "diffutils",
    "dmidecode",
    "dmraid",
    "dosfstools",
    "edk2-shell",
    "espeakup",
    "ethtool",
    "exfatprogs",
    "f2fs-tools",
    "fatresize",
    "fsarchiver",
    "openbsd-netcat",
    "gpart",
    "gpm",
    "gptfdisk",
    "grub",
    "hdparm",
    "hyperv",
    "irssi",
    "iw",
    "iwd",
    "jfsutils",
    "jgmenu",
    "less",
    "lftp",
    "libfido2",
    "libusb-compat",
    "livecd-sounds",
    "lsscsi",
    "lvm2",
    "man-db",
    "inetutils",
    "preload",
    "base-devel",
    "appmenu-gtk-module",
    "parallel",
    "rsync",
    "sshpass",
    "gnome-ssh-askpass4-git",
    "volumectl",
    "limine",
    "limine-mkinitcpio-hook",
    # BTRFS
    "btrfs-progs",
    "btrfs-assistant",
    "limine-snapper-sync",
    "snap-pac",
    {{- if .isLaptop }}
    "power-profiles-daemon",
    {{- end }}
]

[managers.systemd-system]
items = [
    "ntpd", # idk why arch doesn't have this by default
    "plocate-updatedb.timer",
    "limine-snapper-sync",
    "bluetooth",
]
