[managers.system]
items = [
    "linux",
    {{- if not .isAsus}}
    "linux-headers" # on asus, linux should not have nvidia drivers as g14 is the default and linux is just for backup
    {{- end}}
]
