[managers.system]
items = [
    "rebos-git",
    {{- if eq .osID "linux-arch" }}
    "pacman-static",
    "rate-mirrors-bin",
    "downgrade",
    # hooks
    "pacman-cleanup-hook",
    "reboot-arch-btw",
    "kernel-modules-hook",
    {{- end }}
]
